page-networth-final {
  .scroll-content {
    padding: 0 16px 16px !important;
    background: #fff !important;
  }
  // .top_area{
  //     position: absolute;
  //     z-index: 1;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     background: none;
  //     .top_area_container{background: none;
  //         .cloud{
  //             opacity: 0.5;
  //         }
  //     }

  // }
  .header {
    background: $sbi_thirtytwo_color;

    .toolbar {
      box-shadow: none;
      background: $sbi_thirtytwo_color;
      border-bottom: 1px solid $sbi_fifth_color;

      .toolbar-background {
        border: none;
      }

      .bar-button {
        color: $sbi_fifth_color;
        // padding-left: 28px;
        .back-button-text {
          display: none;
        }
      }

      .toolbar-content {
        .toolbar-title {
          color: $sbi_fifth_color;
          text-transform: capitalize;
          font-family: "Lato";
          font-size: 4.615vw;
          margin-left: -32px;
        }
      }
    }

    &:after {
      background-image: none;
      height: 0;
    }
  }

  .content {
    background: $sbi_fifth_color !important;
    .networth_details {
      text-align: center;
      padding: 30px 0 0px 0;
      h4 {
        font-family: "Lato";
        font-size: 6.154vw;
        color: $sbi_twentysix_color;
        margin: 0 auto;
        padding: 0 0 20px;
        width: 269px;
        letter-spacing: 0.38px;
      }
      .networth_amt {
        background: $sbi_thirtytwo_color;
        border-radius: 38px;
        width: 251px;
        height: 50px;
        margin: 0 auto;
        .networth_amt_inner {
          font-family: "Lato";
          font-size: 6.154vw;
          color: $sbi_fifth_color;
          margin: 0;
          padding: 10px 28px;
          text-align: center;
          .rs_icon {
            font-size: 0.76em;
            font-weight: bold;
            // margin-right: -3px;
          }
        }
      }
      .networth_sum {
        padding-top: 20px;
        font-family: "Lato";
        font-size: 4.103vw;
        color: $sbi_twentysix_color;
        letter-spacing: 0.38px;
      }
    }

    ion-card {
      &.networth_card {
        background: $sbi_fifth_color;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin: 21px 0 0;
      }
      ion-card-content {
        &.networth_card_content {
          padding: 30px 0 0;
        }
      }
    }
    .card-header {
      font-size: 4.44vw;
      color: $sbi_nine_color;
      font-family: "Lato Black";
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    background: #5448b7; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #5448b7 0%,
      #5448b7 35%,
      #ffffff 35%,
      #ffffff 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #5448b7 0%,
      #5448b7 35%,
      #ffffff 35%,
      #ffffff 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #5448b7 0%,
      #5448b7 35%,
      #ffffff 35%,
      #ffffff 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5448b7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    #networth_chart {
      .highcharts-container {
        margin: 0 auto;
      }
    }
    .card {
      margin: 0 auto 25px auto;
      width: 100%;
      box-shadow: 0px 8px 19px 0px lighten($sbi_third_color, 10%);
      border-radius: 4px;
    }

    .invested_result {
      padding: 0 24px;
      .row {
        .col {
          border-radius: 8px;
          border: 1px solid $sbi_twentysix_color;
          padding: 25px 0 19px;
          text-align: center;
          width: 151px;
          height: 130px;
          &:first-child {
            margin-right: 13px;
          }
          figure {
            width: 24px;
            height: 24px;
            overflow: hidden;
            margin: 0 auto 20px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          h5 {
            font-family: "Lato Semibold";
            font-size: 3.077vw;
            color: $sbi_twentyseven_color;
            margin: 0 0 4px;
            letter-spacing: 0.38px;
            white-space: nowrap;
          }
          .invested_result_amt {
            font-family: "Lato";
            font-size: 6.164vw;
            color: $sbi_twentyseven_color;
            .rs_icon {
              font-size: 0.76em;
              font-weight: bold;
              // margin-right: -3px;
            }
          }
        }
      }
    }

    .networth_list {
      margin: -1px -16px 20px;
      .item {
        border-top: 1px solid $sbi_fifty_color;
        font-family: "Lato Semibold";
        background-color: $sbi_fifth_color;
        color: $sbi_nine_color;
        font-size: 3.33vw;
        .item-inner {
          .input-wrapper {
            .label {
              margin: 13px 0px 13px 0;
            }
          }
        }
        .networth_list_lt {
          padding-top: 8px;
        }
        .indiccat {
          width: 3.33vw;
          height: 3.33vw;
          border-radius: 3.33vw;
          margin-right: 2.5vw;
          display: inline-block;
          vertical-align: top;
          margin-top: 0.55vw;
          &.color_fr {
            background-color: $sbi_sixth_color;
          }
          &.color_sec {
            background-color: $sbi_seven_color;
          }
        }
        .item-button {
          font-family: "Lato Light";
          color: $sbi_primary_color;
          font-size: 5vw;
          height: auto;
          .rs_icon,
          .icon-Icons_Monthly_Expense {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.76em;
            margin-top: 3px;
            margin-right: -2px;
            font-weight: bold;
          }
          .icon {
            font-size: 4.44vw;
            color: $sbi_eight_color;
            margin-top: 1px;
          }
        }
      }
    }
    .chart_center_text {
      .chart_center_title {
        font-family: "Lato";
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.38px;
        background: linear-gradient(270deg, #301f6c 0%, #d60d47 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        p {
          line-height: normal;
          margin: 0;
        }
      }
    }
    .disclaimer_txt {
      font-family: "Lato";
      font-size: 4.103vw;
      color: $sbi_thirtyeight_color;
      margin: 0;
      padding: 35px 0 0;
      text-transform: capitalize;
      text-decoration-line: underline;
      a {
        color: $sbi_thirtyeight_color;
      }
    }
  }
  ion-footer {
    &.networth_final_footer {
      &.footer {
        .footer_panel {
          box-shadow: none !important;
          background: none !important;
          padding: 18px 28px;
          .footer_panel_rt {
            .login_btn {
              background: $sbi_twentysix_color;
              color: $sbi_fifth_color;
              letter-spacing: 0.38px;
              border: 1px solid $sbi_twentyseven_color;
              max-width: 172px;
              height: 50px;
            }
          }

          .footer_panel_lt {
            .back_btn {
              background: $sbi_fifth_color;
              color: $sbi_twentysix_color;
              letter-spacing: 0.38px;
              border: 1px solid $sbi_twentyseven_color;
              max-width: 172px;
              height: 50px;
            }
          }
        }
        &::before {
          background-image: none;
        }
      }
    }
  }
}
