page-uncategorisedexpenses {
    ion-datetime {
        position: relative;
    }

    .header {
        .toolbar {
            box-shadow: none;
            background: $sbi_secondary_color;

            .toolbar-background {
                border: none;
            }

            .bar-button {
                color: $sbi_fifth_color;
            }

            .toolbar-content {
                .toolbar-title {
                    color: $sbi_fifth_color;
                }
            }
        }

        &:after {
            background-image: none;
            height: 0;
        }
    }

    .content {
        background-color: $sbi_nineteen_color;

        .scroll-content {
            padding-top: 0 !important;
        }

        #total_expenses {
            margin-bottom: 25px !important;
        }

        .saving_cont {
            .saving_main {
                margin: 30px auto 20px auto;
                padding: 0 75px;
            }

            .saving_add_goals {
                border: none;
                padding: 0;
                margin: 16px 4px;
            }

            .saving_tbl {
                .row {
                    border-bottom: 1px solid $sbi_twelve_color;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                h5 {
                    font-family: 'Lato Semibold';
                    font-size: 3.8vw;
                    color: $sbi_primary_color;
                    margin: 0;
                }

                h6 {
                    font-family: 'Lato Black';
                    font-size: 2.89vw;
                    color: $sbi_fourteen_color;
                    margin: 5px 0 5px 0;
                    font-weight: normal;
                }

                .saving_tbl_val {
                    font-family: 'Lato Semibold';
                    font-size: 3.8vw;
                    color: $sbi_primary_color;

                    span {
                        font-size: 3vw;
                        font-weight: bold;
                    }
                }
            }

            ion-scroll[scrollX].saving_slider {
                white-space: nowrap;
                height: 7.72vw;
                overflow: hidden;
            }

            .saving_slider {
                .scroll-content {
                    padding: 0;
                }

                ::-webkit-scrollbar {
                    display: none;
                }

                margin: 20px 0;

                .saving_slider_item + .saving_slider_item:before {
                    position: absolute;
                    content: '';
                    left: -1px;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: 1px;
                    background-color: $sbi_twelve_color;
                }

                .saving_slider_item {
                    padding: 0 16px;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;

                    figure {
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0;
                        width: 9vw;
                        max-width: 9vw;
                    }

                    .saving_slider_item_val {
                        display: inline-block;
                        vertical-align: middle;
                        font-family: 'Lato Black';
                        font-size: 3.33vw;
                        color: $sbi_primary_color;
                        margin-left: 12px;

                        span {
                            font-weight: bold;
                            font-size: 3vw;
                        }
                    }
                }
            }

            .saving_main_btn {
                border-bottom: 1px solid $sbi_twelve_color;
                padding: 5px 0 24px 0;

                .login_btn {
                    max-width: 149px;
                    height: 34px;
                    margin: 0;
                }
            }
        }

        .expenditure_limit {
            border: 1px solid $sbi_twelve_color;
            padding: 15px 12px;
            margin: 16px 4px;

            h3 {
                font-family: 'Lato Black';
                font-size: 5.55vw;
                line-height: 7.55vw;
                color: $sbi_primary_color;
                margin: 0 0 5px 0;
            }

            p {
                font-family: 'Lato Light';
                font-size: 3.8vw;
                color: $sbi_secondary_color;
                margin: 0;
            }

            a {
                text-align: center;
                margin: 14px 0 0 0;
                line-height: 37px;
            }
        }

        .chart_total_exp {
            h5 {
                font-family: 'Lato';
                font-size: 3.05vw;
                color: $sbi_nine_color;
                margin: 0;
            }

            .chart_total_val {
                font-family: 'Lato Black';
                font-size: 4.72vw;
                color: $sbi_primary_color;
                margin: 0;

                span {
                    font-weight: bold;
                    font-size: 3.72vw;
                }
            }
        }

        .card {
            box-shadow: 0 0 25px rgba(84, 72, 183, 0.15);
            margin: 0 0 15px 0;
            width: 100%;

            &:first-child {
                margin-top: 5px;
            }
        }

        .expense_trend_txt {
            text-align: right;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            h5 {
                font-family: 'Lato Black';
                font-size: 3.33vw;
                color: $sbi_fourteen_color;
                margin: 0;
            }

            span {
                font-family: 'Lato Black';
                font-size: 5.55vw;
                color: $sbi_primary_color;
                margin: 0;
                display: block;
            }
        }

        .common_expense_card {
            .custom_select_drop {
                padding-top: 15px;
                padding-bottom: 0;
                padding-left: 20px;
                text-align: center;
                .select-md{
                   
                }
                .select-text {
                    color: $sbi_fourteen_color;
                    font-size: 3.62vw;
                     
                }

                .select-icon {
                    padding-left: 60px;
                    .select-icon-inner {
                        margin-top: -5px;
                        color: $sbi_fifteen_color;
                        z-index: 1;
                    }
                }
            }
            ion-card-header {
                h4 {
                    font-family: 'Lato Black';
                    font-size: 4.34vw;
                    color: $sbi_primary_color;
                    margin: 0;
                }
                
                i {
                    .icon {
                        color: $sbi_nine_color;
                        font-size: 27px;
                    }
                }

                .custom_select_drop {
                    
                    padding-top: 0;
                    padding-bottom: 0;
                    max-width: 100%;

                    .select-text {
                        color: $sbi_fourteen_color;
                        font-size: 2.89vw;
                    }

                    .select-icon {
                        .select-icon-inner {
                            margin-top: -6px;
                            color: $sbi_fifteen_color;
                        }
                    }
                }
            }

            .segment {
                padding: 0 30px;

                .segment-button {
                    font-family: 'Lato Black';
                    font-size: 2.77vw;
                    color: $sbi_sixeen_color;
                    opacity: 1;
                    border-bottom: none;
                    height: auto;
                    line-height: 2.4rem;

                    &.segment-activated {
                        &:after {
                            position: absolute;
                            content: '';
                            width: 85px;
                            margin: 0 auto;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 5px;
                            background-color: $sbi_fifteen_color;
                            border-radius: 2px;
                        }
                    }
                }
            }

            .spendometer_cont {
                figure {
                    margin: 30px auto 20px auto;
                    padding: 0 45px;
                }

                .invested_monthly {
                    padding: 20px 0 0 0;
                }
            }

            .month_income {
                text-align: center;
                padding: 0 0 10px 0;
                position: relative;

                &::before {
                    position: absolute;
                    left: 0;
                    content: '';
                    width: 1px;
                    background-color: $sbi_third_color;
                    height: 100%;
                    top: 39%;
                }

                &::after {
                    position: absolute;
                    right: 0;
                    content: '';
                    width: 1px;
                    background-color: $sbi_third_color;
                    height: 100%;
                    top: 39%;
                }

                .month_income_lt {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;

                    &::before {
                        position: absolute;
                        left: -100%;
                        content: '';
                        height: 1px;
                        background-color: $sbi_third_color;
                        width: 100%;
                        margin-left: -30px;
                        top: 50%;
                    }

                    &::after {
                        position: absolute;
                        right: -100%;
                        content: '';
                        height: 1px;
                        background-color: $sbi_third_color;
                        width: 100%;
                        margin-right: -52px;
                        top: 50%;
                    }

                    h5 {
                        font-family: 'Lato';
                        color: $sbi_primary_color;
                        font-size: 2.77vw;
                    }

                    div {
                        font-family: 'Lato Black';
                        color: $sbi_primary_color;
                        font-size: 3.75vw;

                        span {
                            font-weight: bold;
                            font-size: 3.55vw;
                        }
                    }
                }

                .month_income_rt {
                    display: inline-block;
                    vertical-align: middle;
                    background-color: $sbi_primary_color;
                    width: 5.27vw;
                    height: 5.27vw;
                    border-radius: 5.27vw;
                    color: $sbi_fifth_color;
                    font-size: 3vw;
                    line-height: 6.27vw;
                    text-align: center;
                    box-shadow: 0 0 13px rgba(104, 235, 255, 0.6);
                }
            }

            .chart_bar {
                display: table;
                width: 100%;

                > span {
                    display: table-cell;
                    height: 22px;
                    position: relative;

                    &:first-child {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }

                    &:last-child {
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }

                    &:hover {
                        > span {
                            display: block;
                            transition: all 0.3s ease-out;
                        }
                    }

                    > span {
                        display: none;
                        position: absolute;
                        width: 58px;
                        color: $sbi_nine_color;
                        font-size: 10px;
                        background-color: lighten($sbi_third_color, 20%);
                        padding: 5px 7px;
                        border-radius: 20px;
                        font-family: 'Lato Black';
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: -25px;
                        z-index: 1;

                        &:after, &:before {
                            position: absolute;
                            content: '';
                        }

                        &:before {
                            border: 6px solid transparent;
                            border-top: 6px solid lighten($sbi_third_color, 20%);
                            bottom: -11px;
                            left: 22px;
                            z-index: 3;
                        }

                        &:after {
                            z-index: 2;
                        }
                    }

                    &.color_fr {
                        background-color: $sbi_button_color;

                        > span {
                            border: 1px solid $sbi_button_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_button_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_sec {
                        background-color: $sbi_eleven_color;

                        > span {
                            border: 1px solid $sbi_eleven_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_eleven_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_tr {
                        background-color: $sbi_primary_color;

                        > span {
                            border: 1px solid $sbi_primary_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_primary_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_for {
                        background-color: $sbi_secondary_color;

                        > span {
                            border: 1px solid $sbi_secondary_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_secondary_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_fi {
                        background-color: $sbi_seven_color;

                        > span {
                            border: 1px solid $sbi_seven_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_seven_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_si {
                        background-color: $sbi_error_color;

                        > span {
                            border: 1px solid $sbi_error_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_error_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_sev {
                        background-color: $sbi_third_color;

                        > span {
                            border: 1px solid $sbi_third_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_third_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_eig {
                        background-color: $sbi_fourth_color;

                        > span {
                            border: 1px solid $sbi_fourth_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_fourth_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_nin {
                        background-color: $sbi_sixth_color;

                        > span {
                            border: 1px solid $sbi_sixth_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_sixth_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_ten {
                        background-color: $sbi_eight_color;

                        > span {
                            border: 1px solid $sbi_eight_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_eight_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_eleven {
                        background-color: $sbi_thirteen_color;

                        > span {
                            border: 1px solid $sbi_thirteen_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_thirteen_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }

                    &.color_twe {
                        background-color: $sbi_seventeen_color;

                        > span {
                            border: 1px solid $sbi_seventeen_color;

                            &:after {
                                border: 6px solid transparent;
                                border-top: 6px solid $sbi_seventeen_color;
                                bottom: -12px;
                                left: 22px;
                            }
                        }
                    }
                }
            }

            .indiccat {
                width: 3.33vw;
                height: 3.33vw;
                border-radius: 3.33vw;
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
                margin-top: 0px;

                &.color_fr {
                    background-color: $sbi_sixth_color;
                }

                &.color_sec {
                    background-color: $sbi_seven_color;
                }

                &.color_tr {
                    background-color: $sbi_sixth_color;
                }

                &.color_for {
                    background-color: $sbi_secondary_color;
                }

                &.color_fi {
                    background-color: $sbi_seven_color;
                }

                &.color_si {
                    background-color: $sbi_error_color;
                }

                &.color_sev {
                    background-color: $sbi_third_color;
                }

                &.color_eig {
                    background-color: $sbi_fourth_color;
                }

                &.color_nin {
                    background-color: $sbi_sixth_color;
                }

                &.color_ten {
                    background-color: $sbi_eight_color;
                }

                &.color_eleven {
                    background-color: $sbi_thirteen_color;
                }

                &.color_twe {
                    background-color: $sbi_seventeen_color;
                }
            }

            .invested_monthly {
                text-align: center;

                h5 {
                    font-family: 'Lato Semibold';
                    color: $sbi_nine_color;
                    font-size: 3.05vw;
                    line-height: 3.33vw;
                    margin: 0 0 8px 0;
                }

                .invested_result_amt {
                    font-family: 'Lato Black';
                    color: $sbi_primary_color;
                    font-size: 3.69vw;
                    line-height: 4vw;

                    .rs_icon {
                        font-weight: bold;
                        margin-right: 2px;
                        font-size: 3.33vw;
                    }
                }
            }
        }

        .recommend_for_your_cont {
            ion-scroll[scrollX] {
                white-space: nowrap;
                height: 41.72vw;
                overflow: hidden;
            }

            ::-webkit-scrollbar {
                display: none;
            }

            .recommend_for_your_cont_slider {
                .scroll-content {
                    padding: 0;
                }

                .recommend_for_your_cont_slider_item {
                    display: inline-block;
                    vertical-align: top;
                    border: 1px solid $sbi_twelve_color;
                    margin: 0 4px;
                    border-radius: 2px;

                    .recommend_for_your_cont_slider_item_inner {
                        position: relative;
                        padding-bottom: 13px;
                        width: 33.33vw;
                        padding: 10px 15px;

                        &.view_more {
                            min-height: 39.5vw;
                            border-radius: 4px;
                            text-align: center;
                            background-color: $sbi_fifth_color;
                            position: relative;

                            .view_more_cont {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 0;
                                right: 0;

                                .icon {
                                    font-size: 7.33vw;
                                    color: lighten($sbi_nine_color, 30%);
                                }

                                span {
                                    display: block;
                                    font-family: 'Lato Semibold';
                                    font-size: 3.33vw;
                                    line-height: 3.39vw;
                                    color: lighten($sbi_nine_color, 40%);
                                }
                            }
                        }

                        figure {
                            margin: 0 0 10px 0;

                            img {
                                width: 37%;
                            }
                        }

                        h4 {
                            font-family: 'Lato Semibold';
                            font-size: 3.33vw;
                            line-height: 4.33vw;
                            margin: 0 0 2px 0;
                            color: $sbi_primary_color;
                        }

                        p {
                            font-family: 'Lato Black';
                            font-size: 3.61vw;
                            line-height: 4.61vw;
                            margin: 0;
                            color: $sbi_primary_color;

                            span {
                                font-size: 3vw;
                                font-weight: bold;
                            }
                        }
                    }

                    .recommend_for_your_cont_slider_item_inner_btm {
                        font-size: 3.05vw;
                        color: $sbi_nine_color;
                        padding: 15px;
                        border-top: 1px solid $sbi_twelve_color;

                        .indiccat {
                            width: 3.05vw;
                            height: 1.66vw;
                            margin: 0 7px 0 0;
                        }
                    }
                }
            }
        }

        .no_padding {
            padding: 0 !important;

            .card_inner_cont {
                padding: 0 13px 16px 13px;
                position: relative;

                .cloud_lt {
                    position: absolute;
                    left: 0;
                    top: -21px;
                    width: auto;
                }

                .cloud_rt {
                    position: absolute;
                    right: 0;
                    top: 23px;
                    width: auto;
                }
            }

            .view_all {
                font-family: 'Lato Semibold';
                color: $sbi_secondary_color;
                font-size: 3.33vw;
                text-align: center;
                padding: 10px;
                background-color: $sbi_eighteen_color;
            }
        }

        .round_btn {
            margin: 36px auto;
        }
    }

    .recent_spends {
        .list {
            .item {
                padding-left: 0;
                border-bottom: 1px solid $sbi_eighteen_color;

                &:last-child {
                    border-bottom: none;
                }

                ion-thumbnail {
                    min-width: 33px;
                    min-height: 33px;
                    margin: 8px 8px 8px 0;

                    img {
                        width: 33px;
                        height: 33px;
                    }
                }

                h5 {
                    color: $sbi_primary_color;
                    font-family: 'Lato Semibold';
                    font-size: 3.33vw;
                    margin: 0 0 2px 0;
                }

                p {
                    color: $sbi_nine_color;
                    font-family: 'Lato Semibold';
                    font-size: 2.77vw;
                }

                .recent_price {
                    color: $sbi_primary_color;
                    font-family: 'Lato Black';
                    font-size: 3.88vw;

                    span {
                        font-weight: bold;
                        font-size: 3vw;
                    }
                }
                .arrow_right {
                    color: #828282;
                    margin-top: 16px;
                    font-size: large;
                }
            }
        }
    }

    .overlay_dropdown {
        .overlay_dropdown_content {
            top: 50%;
            transform: translateY(-50%);

            .common_expense_card {
                padding: 0;
                width: 100%;
                box-shadow: none;
                margin: 0;

                ion-card-header {
                    h4 {
                        font-family: 'Lato Semibold';
                        font-size: 3.33vw;
                        color: $sbi_nine_color;
                        margin: 0;
                        text-transform: uppercase;
                    }

                    padding: 0 0 10px 0;
                }

                .card-content {
                    height: 300px;
                    overflow: auto;
                    padding: 0;
                }
            }
        }
    }

    .month_btn{
        text-align: center;
        margin: 0 auto;
    
        .month_title{
          font-family: "Lato";
              color: $sbi_twentysix_color;
              font-size: 4.103vw;
              height: auto;
        }
    
        .month_arrow{
          font-size: 1.4em;
                line-height: 0.67;
                pointer-events: none;
                padding-left: 0.4em;
                color: #2a2076;
        }
      }
}
