page-marriage {
  //   .top_area {
  //     position: absolute;
  //     z-index: 1;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     background: none;
  //     .top_area_container {
  //       background: none;
  //     }
  //   }
  .header {
    background: $sbi_thirtytwo_color;

    .toolbar {
      box-shadow: none;
      background: $sbi_thirtytwo_color;
      border-bottom: 1px solid $sbi_fifth_color;

      .toolbar-background {
        border: none;
      }

      .bar-button {
        color: $sbi_fifth_color;
        // padding-left: 28px;
        .back-button-text {
          display: none;
        }
      }

      .toolbar-content {
        .toolbar-title {
          color: $sbi_fifth_color;
          text-transform: capitalize;
          font-family: "Lato";
          font-size: 4.615vw;
          margin-left: -28px;
        }
      }
    }

    &:after {
      background-image: none;
      height: 0;
    }

    .calculator_common_sec_steps {
      background: $sbi_fifth_color;
      padding: 13px;
      border-bottom: 1px solid $sbi_thirtysix_color;
      .calculator_steps {
        display: table;
        text-align: center;
        padding: 0 30px;
        margin: auto;
        .calculator_steps_com {
          display: table-cell;
          vertical-align: top;
          width: 65%;
          .calculator_dashed {
            .calculator_steps_com_num {
              width: 30px;
              height: 30px;
              border-radius: 4px;
              padding: 5px;
              display: block;
              background: $sbi_fifth_color;
              border: 1px solid $sbi_thirtyfour_color;
              font-size: 4.103vw;
              color: $sbi_thirtyfour_color;
              font-family: "Lato";
              margin: 0 5px 0;

              span {
                display: block;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                margin-top: -1px;
              }
            }
          }

          .calculator_dashed {
            &.step1 {
              display: flex;
              align-items: center;
            }
            &:after {
              border-bottom: 1px dashed $sbi_thirtyfour_color;
              content: "";
              flex: 1;
            }
          }

          &.active {
            .calculator_steps_com_num {
              background: $sbi_twentyseven_color;
              color: $sbi_fifth_color;
              border: none;
            }
          }

          &.active {
            .calculator_dashed {
              &:after {
                border-bottom: 1px dashed $sbi_twentyseven_color;
                content: "";
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
  .com_head {
    h4 {
      font-size: 12px;
      line-height: 16px;
      font-family: "Lato Semibold";
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 8px 0;
      padding: 0 30px;
    }
  }
  .tell_us_cont_common {
    /* height: 40vh; */
    overflow: auto;

    @media screen and (max-height: 480px) {
      height: 180px !important;
    }

    // &.common_years_slider {
    //   margin: 0 6px;
    //   background: $sbi_twentyseven_color;
    //   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    //   border-radius: 4px;
    // }
  }

  .tell_us_cont {
    padding: 0px 0px 0px 0px;
    position: relative;
    overflow: hidden;
    // margin-top: 20px;

    @media screen and (max-height: 480px) {
      margin-top: 10px;
    }
    .tell_us_slider {
      display: none;
      &.common_years_slider {
        margin: 0 6px !important;
        background: $sbi_twentyseven_color;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
      }
    }
    .calculator_common_sec_inner {
      position: relative;
      margin: 0 0 14px 0;

      /* .list {
                .item {padding-left: 0;
                .item-inner{padding-right: 0;
                .input-wrapper{ */
      .label {
        font-size: 5vw;
        font-family: "Lato Light";
        text-align: left;
        color: $sbi_secondary_color;
        .icon {
          font-size: 7.22vw;
          margin-left: 5px;
          vertical-align: middle;
          margin-top: -1.66vw;
          border-radius: 50%;
          box-shadow: 0px 0px 19px $sbi_light_shadow;
          position: relative;
          z-index: 9;
        }
      }
      .input {
        display: none;
        border-bottom: 1px solid lighten($sbi_third_color, 40%);
        font-size: 5vw;
        font-family: "Lato Light";
        text-align: left;
        color: $sbi_secondary_color;
      }

      .text-input::placeholder {
        font-size: 5vw;
        font-family: "Lato Light";
        text-align: left;
        color: $sbi_secondary_color;
      }
      /*  }
                }
               
                } */
      .fld_icon {
        position: absolute;
        bottom: 2.22vw;
        right: 32px;
        color: lighten($sbi_third_color, 20%);
        display: none;
        .ion-ios-close-circle-outline {
          display: none;
          font-size: 5.83vw;
        }
        .ion-md-create {
          font-size: 4.72vw;
        }
      }

      /*  } */
    }
    &.active {
      .label {
        display: none;
      }
      .fld_icon {
        display: block;
      }
      .input {
        display: block;
      }
      .tell_us_slider {
        display: block;
      }
    }

    .tell_us_slider {
      position: relative;
      height: 109px;
      overflow: hidden;
      padding: 20px 0;
      opacity: 0;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 7px 0px 17px 8px $sbi_light_shadow;
        background-color: $sbi_secondary_color;
        width: 69.13px;
        border-radius: 4px;
        margin: 0 auto;
        z-index: -1;
      }

      .slick-list {
        position: relative;
        overflow: visible;
        .slick-track {
          display: flex;
          align-items: center;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 0;
          z-index: 9;
          box-shadow: 0px 1px 10px 6px rgba(84, 72, 183, 0.05);
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          height: 0;
          z-index: 9;
          box-shadow: 0px -1px 10px 6px rgba(84, 72, 183, 0.05);
        }
      }
      .slick-slide {
        text-align: center;
        position: relative;
        .tell_us_slider_age {
          font-family: "Lato";
          color: $sbi_third_color;
          font-size: 24px;
          font-weight: 700;
          padding: 12px 25px;
          border-radius: 4px;
          display: block;
        }
        .tell_us_slider_year {
          display: none;
          position: absolute;
          bottom: 4px;
          color: #fff;
          font-family: "Lato Light";
          left: 0;
          right: 0;
          font-size: 10px;
        }
        &.slick-current {
          // min-width: 68px;
          .tell_us_slider_age {
            color: #fff;
            font-size: 28px;
            font-weight: 700;
            border: 2px solid;
            border-radius: 27px;
            width: 63px;
            height: 54px;
            padding: 1rem;
          }
          .tell_us_slider_year {
            display: block;
            margin: -26px;
            font-size: 12px;
            font-style: italic;
            font-family: "Lato";
          }
        }
      }
    }
  }
  .calculator_common_sec {
    .calculator_steps {
      display: table;
      text-align: center;
      width: 100%;
      padding: 10px 30px;
      .calculator_steps_com {
        display: table-cell;
        vertical-align: top;
        width: 25%;
        .calculator_steps_com_num {
          width: 16px;
          height: 16px;
          border-radius: 16px;
          padding: 3px;
          display: block;
          background: lighten($sbi_third_color, 10%);
          font-size: 9px;
          color: #fff;
          font-family: "Lato Black";
          margin: 0 auto 5px auto;

          span {
            display: block;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            margin-top: -1px;
          }
        }
        .icon {
          display: none;
        }
        &.active {
          .calculator_steps_com_num {
            background: lighten($sbi_error_color, 10%);
            span {
              display: none;
            }
            .icon {
              display: block;
            }
          }

          .calculator_steps_com_bar {
            background: lighten($sbi_error_color, 10%);
            box-shadow: 0 2px 7px lighten($sbi_error_color, 10%);
            /*  &:after{
                        background: lighten($sbi_error_color,10%);
                        width: 4px;
                        height: 9px;
                        content: '';
                        right: -3px;
                        transform: rotate(24deg);
                    } */
            &:before {
              height: 0;
            }
          }
        }
        .calculator_steps_com_bar {
          height: 8px;
          width: 100%;
          display: block;
          background: lighten($sbi_third_color, 10%);
          position: relative;
          &:after {
            position: absolute;
            width: 4px;
            height: 14px;
            content: "";
            right: -1px;
            top: -1px;
            background: #fff;
            transform: rotate(24deg);
            z-index: 1;
          }
          &:before {
            position: absolute;
            background: #fff;
            width: 100%;
            height: 5px;
            content: "";
            right: 0;
            left: -3px;
            bottom: -5px;
            z-index: 1;
          }
        }
        &:first-child {
          .calculator_steps_com_bar {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
        }
        &:last-child {
          .calculator_steps_com_bar {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            &:after {
              width: 0;
              height: 0;
            }
          }
          &.active {
            &:after {
              width: 0;
              height: 0;
            }
          }
        }
      }
    }
    .calculator_common_sec_inner {
      padding: 0;
      &.nps_age_first {
        padding-top: 10px;
        padding-bottom: 10px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 9;
        bottom: 73px;

        .footer_panel_rt {
          padding: 0;
        }
      }
      &.age_slider_heading {
        // padding-top: 50px;
        padding: 30px 0 0;
      }
    }
    .calculator_sliders {
      height: auto;
      .swiper-slide {
        align-items: start;
        position: relative;
      }
      /*   height: auto;
            .swiper-container{overflow-y: auto;}
            .swiper-slide{display: block;} */
      .calculator_common_sec_inner {
        h1 {
          font-family: "Lato";
          color: $sbi_twentysix_color;
          font-size: 6.154vw;
          margin: 0;
          text-align: center;
          padding: 0 34px 34px;
          letter-spacing: 0.38px;
        }
        h2 {
          font-family: "Lato";
          color: $sbi_twentysix_color !important;
          font-size: 6.154vw;
          margin: 0;
          text-align: center;
          padding: 0 34px 38px;
          letter-spacing: 0.38px;
        }
        h5 {
          font-family: "Lato";
          color: $sbi_twentysix_color;
          font-size: 3.077vw;
          margin: 0;
          text-align: center;
          padding: 0 0 14px;
          text-transform: uppercase;
          letter-spacing: 0.38px;
        }
      }
    }
  }

  .calculator_common_sec_inner {
    .footer_panel {
      margin: 0 0 0 0;
      padding: 5px 0px;
      .footer_panel_rt {
        padding: 5px !important;
        padding-right: 0 !important;
      }
      .back_btn {
        margin: 0;
        width: 100%;
        max-width: 166px;
      }
    }
    .calculation_with_range {
      .calculation_with_range_inp {
      }
      &.range_with_icon {
        .item.item-range .range {
          padding: 2px 10px 24px 10px;
        }
        .range {
          .rng_lt,
          .rng_rt {
            position: absolute;
            bottom: 0;
            font-family: "Lato Light";
            color: $sbi_secondary_color;
            font-size: 12px;
          }
          .rng_lt {
            left: 0;
          }
          .rng_rt {
            right: 0;
          }
        }
      }
      .daughtername {
        font-size: 3.88vw;
        margin: 0 0 10px 0;
        text-transform: uppercase;
        font-family: "Lato Semibold";
        color: $sbi_third_color;
        text-align: left;
      }
      .item {
        // .label{

        //         .rs_icon{color: $sbi_secondary_color;
        //             font-size: 15vw; line-height: 15vw; }
        //             .overlay_dropdown_rng_txt{font-size:3.33vw; color: lighten($sbi_third_color,20%); font-family:'Lato';  }

        //     .daughtername{font-size: 3.88vw; margin:0 0 10px 0; text-transform: uppercase;  font-family:'Lato Semibold';
        //         color: $sbi_third_color;}
        // }
        padding-top: 40px;
        &.item-range {
          padding-top: 0px;
          overflow: inherit;
          contain: none;
          .range {
            padding: 2px 10px;
          }
        }
        &:last-child {
          padding-top: 0 !important;
        }
        .overlay_dropdown_rng_txt {
        }
      }
    }
  }
}
