<ion-content class="main-view">
  <div class="overlay" (click)="dismissModal()"></div>
 <div class="modal_content">
  <div class="up_content"></div>
    <h2>Terms & Conditions</h2>
    <div class="modal_info">
      <p>These Terms and Conditions read together with the Privacy Policy of this Application shall constitute a legally
        binding agreement between you and the Company regarding your use of the Application and any services offered by
        the Company
      <p> ("the Service"). In the event of any inconsistency between the Terms and Conditions and the Privacy Policy,
        the Terms and Conditions supersede the Privacy Policy. </p>
      <p>Any user of the Application is deemed to have agreed to the present Terms and Conditions and has entered into a
        legally binding contract with the Company. "User" or "You" means any person who access or avail this Application
        of the Company.</p>
      <p> for the purpose of hosting, publishing, sharing, transacting, displaying or uploading information or views and
        includes other persons jointly participating in using the Application of the Company. You understand and agree
        that you are using this Application entirely at your risk and SBI LIFE Insurance Company Ltd shall not be
        responsible for the consequences of any action taken by you while using this Application. This Application is
        provided to you by SBI Life free of cost as a service gesture and it is</p>
      <p> entirely your sole discretion as to whether you will use this application or not or whether you will rely on
        the guidance or suggestions provided by the Application. By accessing the Application or service and/or by
        clicking "I agree", you agree to be bound by these Terms and Conditions and any amendment thereof.</p>
      <h3>About this Application</h3>
      <p> This Application provides articles, fact cards and tips to help user better plan their finances and
        investments for various important goals like Education, marriage, buying a car, Buying a Home and retirement.
        There will also be content covering general welfare and insurance. There will also be occasional news related
        articles. There will not be any articles related to any of the products of SBI Life Insurance Co Ltd or any
        other financial products in the market.</p>
      <p>Apart from the content there will also be calculators that will help users calculate the maturity value of
        investments in various avenues. There is a separate goal section where user can plan for achieving various
        target amounts for different goals and the application will help them by giving suggestions like monthly savings
        required and the assets where user may wish to invest basis the risk assessment results of user. Suggestions are
        only limited to asset classes(equity, debt, small saving schemes etc) and no actual financial products will be
        suggested or mentioned in any way.</p>
      <h3>Disclaimer</h3>
      <p>The information, material, advices, suggestions, illustrations notifications, circulars etc. are collectively
        stated "the content" in this application. If the said content contains any mistakes, omissions, inaccuracies and
        typographical errors, etc. SBI Life assumes no responsibility thereof. </p>
      <p>SBI Life makes no warranty or representation regarding any content provided through this application and
        disclaims its liabilities in respect thereof. Any action on your part on the basis of the said content is at
        your own risk and responsibility.</p>
      <p>SBI Life reserves its right to correct any part of the said content at any time as and when required at its
        sole discretion. The content of this application shall not be displayed or printed in any form in part or whole
        without the prior written approval of SBI Life. SBI LIFE may, at its sole discretion, withdraw this Application
        at any time without any notice to the Public whatsoever.</p>
      <p>E-mail messages sent to SBI Life over the Internet cannot be guaranteed to be completely secure. The integrity
        of such messages cannot be guaranteed on the Internet and SBI Life will not be responsible for any damages
        incurred by users due to messages sent or received by them to and from SBI Life. </p>
      <p>SBI Life does not send emails from other than domain names - sbilife.co.in & sbi-life.com. Please do not
        respond to any mails other than email IDs with this domain name as same may be fraudulent/phishing emails.</p>
      <h3>Eligibility</h3>
      <p>You hereby represent and warrant to the Company that you have completed at least eighteen (18) years of age or
        above and are capable of entering, performing and adhering to these Terms and Conditions and that you agree to
        be bound by the Terms and Conditions. While individuals under the age of 18 may utilize the service of the
        Application, they shall do so only with the involvement & guidance of their parents and / or legal guardians,
        under such parent /legal guardian's registered account. In case of a corporation, trust, association of persons
        or a firm, you must be authorised to agree to the Terms and Conditions and to access, use and avail of the
        Application. If you do not qualify, please do not access or use the Application. This Application is intended
        exclusively for the use of Resident Indians, Non-Resident Indians, Persons of Indian Origin. Citizens and
        residents of countries other than India (collectively, "non-residents") shall access, use and avail of the
        Application only to the extent the domestic laws of India and such countries of their residence permit them to
        access, use and avail of the Application. All non-residents understand that by accessing, using and availing of
        the Application, they may be violating the local laws in India and/or such countries. You agree that it will be
        your responsibility to check yourself as to whether you can use this Application You agree that you will be
        solely and absolutely liable for any liability incurred by you in India or elsewhere and shall in this regard
        indemnify SBI LIFE INSURANCE CO LTD and keep indemnified SBI LIFE INSURANCE CO LTD against any liability
        incurred by SBI LIFE INSURANCE CO LTD in this regard. Nothing in the SBI LIFE INSURANCE CO LTD Application shall
        be considered as a solicitation to buy or an offer to sell a security, or any product or service, to any person
        in any jurisdiction where such solicitation, offer, purchase or sale would be unlawful under the laws of that
        jurisdiction.</p>
      <h3>Conduct of Users</h3>
      <p>By agreeing to the Terms & Conditions, the User agrees:<br />
        to confirm that the details provided by the User(s) are true and correct. </p>
      <p style="margin-bottom: 14px;"><strong>You shall not - - </strong></p>
      <ul>
        <li>Restrict or inhibit any other person from accessing, using and enjoying the Application; </li>
        <li>Use the Application for any purpose that is unlawful in any jurisdiction or not permitted by the Terms and
          Conditions;</li>
        <li>modify, copy, distribute, transmit, display, perform, publish, licence, create derivative works from,
          transfer or sell any information, designs, logos, trademarks, software, facilities, products or services
          obtained on or through the Application, except as permitted by the copyright owner or other right holder
          thereof; </li>
        <li>post, transmit and receive any unlawful, fraudulent, libellous, defamatory, obscene, pornographic, profane,
          threatening, abusive, hateful, offensive, or otherwise objectionable information or statement of any kind
          including, without limitation, any information or statement constituting or encouraging conduct that would
          constitute sedition, a criminal offence, give rise to civil liability, or otherwise violate any local, state,
          national, foreign or other law;</li>
        <li>post or transmit any advertisements, solicitations, chain letters, pyramid schemes, investment opportunities
          or schemes or other unsolicited commercial communication (except as otherwise expressly permitted by SBI LIFE
          INSURANCE CO LTD) or engage in spamming or flooding; </li>
        <li>post, transmit any spam mails, information or software which contains a virus, Trojan horse, worm or other
          harmful component; post, publish, transmit, reproduce, distribute or in any way exploit any information,
          software or other material obtained from or through the Application for commercial purposes (); </li>
        <li>upload, post, publish, transmit, reproduce or distribute in any way, information, software or other material
          obtained on or through the Application which is protected by copyright or other proprietary right, or
          derivative works with respect thereto, except as permitted by the copyright owner or other right holder
          thereof; </li>
        <li>upload, post, publish, reproduce, transmit or distribute in any way any component of the Application itself
          or derivative works with respect thereto, except as permitted by SBI LIFE INSURANCE CO LTD or the copyright
          owner or other right holder thereof, the Application being copyrighted under the relevant laws;</li>
        <li>Attempt to decompile or reverse engineer any of the software available on the Application.</li>
        <li>You will not make any attempt to hack into the Application or otherwise attempt to subvert any firewall or
          other security measure of the Application and if you become aware of any shortcoming in the security on the
          Application you shall forthwith inform SBI LIFE INSURANCE CO LTD of the same in writing. If the Application
          contains bulletin boards, chat rooms, access to mailing lists or other message or communication facilities
          (collectively, "Forums"), you agree to use the Forums only to send and receive messages and material that are
          proper and related to the particular Forum. You shall use any software provided on, by or through the
          Application only for the purposes for which it has been provided to you and for no other purpose. </li>
      </ul>


      <p style="margin-bottom: 14px;">You shall not host, display, upload, modify, publish, transmit, update or share any information on the
        Application, that:</p>
      <ol>
        <li>belongs to another person and to which you do not have any right to;</li>
        <li>is grossly harmful, harassing, blasphemous defamatory, obscene, pornographic, paedophilic, libellous,
          invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or
          encouraging money laundering or gambling, or otherwise unlawful in any manner whatever; </li>
        <li>harm minors in any way;</li>
        <li>infringes any patent, trademark, copyright or other proprietary rights;</li>
        <li>violates any law for the time being in force;</li>
        <li>deceives or misleads the addressee about the origin of such messages or communicates any information which
          is grossly offensive or menacing in nature;</li>
        <li>impersonate another person;</li>
        <li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or
          limit the functionality of any computer resource;</li>
        <li>threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign
          states, or public order or causes incitement to the commission of any cognisable offence or prevents
          investigation of any offence or is insulting any other nation.</li>
      </ol>

      <p> Any content and or comment uploaded by you, shall be subject to relevant Indian laws and may be disabled, or
        and may be subject to investigation under appropriate laws. Furthermore, if you are found to be in
        non-compliance with the laws and regulations, these terms, or the privacy policy of the Application, the Company
        shall have the right to immediately terminate/block your access and usage of the Application and the Company
        shall have the right to immediately remove any non-compliant Content and/or comment, uploaded by you and shall
        further have the right to take recourse to such remedies as would be available to the Company under the
        applicable laws.</p>
      <h3>Disclaimers</h3>
      <p>This Application is not intended to provide any tax, legal, insurance or investment advice, and nothing on the
        SBI LIFE INSURANCE CO LTD Application should be construed as a recommendation, by SBI LIFE INSURANCE CO LTD or
        any third party, to acquire or dispose of any investment or security, or to engage in any investment
        transaction. Except as otherwise specified, you alone are solely responsible for determining whether any
        investment, security or any other product or service, is appropriate or suitable for you based on your
        investment objectives and personal and financial situation. You should consult a legal or tax professional
        regarding your specific legal or tax queries. Access and use of the Application is entirely at your own risk.
        The Application, including any content or information on it, any related or linked site, products and services
        displayed, provided, availed of, licensed or purchased on, through or via the Application are provided "as is,"
        without any representation or warranty of any kind, either express or implied, including without limitation, any
        representation or warranty for accuracy, continuity, uninterrupted access, timeliness, sequence, quality,
        performance, fitness for any particular purpose or completeness. Specifically, SBI LIFE INSURANCE CO LTD
        disclaims any and all warranties including, but not limited to - - Any warranties concerning the availability,
        accuracy, usefulness, or correctness, currency or completeness of information, products or services and - Any
        warranties of title, warranty of non-infringement, freedom from computer virus, warranties of merchantability or
        fitness for a particular purpose, other than those warranties which are incapable of exclusion, restriction or
        modification under the laws applicable to the Terms and Conditions.</p>
      <p>SBI LIFE INSURANCE CO LTD has not verified and shall not be liable or responsible for any content or other
        information on the Application or on web-sites linked to or with SBI LIFE INSURANCE CO LTD. SBI LIFE INSURANCE
        CO LTD does not, in any way, certify or warrant the performance, operation, content or availability of the
        Application or such other applications. Although SBI LIFE INSURANCE CO LTD adopts security measures, which it
        considers appropriate for the Application, it does not assure or guarantee that no person will overcome or
        subvert the security measures and gain unauthorised access to the Application. SBI LIFE INSURANCE CO LTD LTD
        shall not be responsible or liable if any unauthorised person hacks into or gains access to the Application, or
        your accounts; and you shall be liable and responsible for the same. This disclaimer of liability applies also
        to any damage or injury caused by any failure of performance, error, omission, interruption, deletion, defect,
        delay in operation or transmission, computer virus, communication line failure, theft or destruction or
        unauthorized access to, alteration of, or use of record, whether for breach of contract, tortuous behaviour,
        negligence, or under any other cause of action. The information and views contained herein are based on
        information available and believed to be correct to the best of our knowledge. Although due care has been
        exercised to verify the accuracy of the information, neither SBI LIFE INSURANCE CO LTD nor its information
        suppliers assume responsibility for the accuracy or for any loss arising out of any information contained
        herein. This is neither a solicitation to invest in any product nor to avail of a particular service SBI LIFE
        INSURANCE CO LTD does not warrant or make any representations regarding the use or the results of the use of any
        product, service in terms of its compatibility, correctness, accuracy, reliability or otherwise. You assume
        total responsibility and risk for your access and use of the Application, all site-related services, products
        and services mentioned or advertised on or accessed or availed on or through the Application. You acknowledge
        that any warranty that is provided in connection with any of the products or services described on the
        Application are provided solely by the owner, advertiser, manufacturer, provider or supplier of that product or
        service, and not by SBI LIFE INSURANCE CO LTD or the Application. SBI LIFE INSURANCE CO LTD operates and offers
        the Application strictly on a no-liability basis and SBI LIFE INSURANCE CO LTD shall not be liable to you or any
        other third party for any direct, indirect, incidental, special, exemplary, punitive, consequential or other
        damages (including without limitation loss of profits, loss or corruption of data, loss of goodwill, work
        stoppage, computer failure or malfunction, or interruption of business) under any contract, negligence, strict
        liability or other law or theory arising out of or in connection with the Application, products or services
        mentioned or advertised on or accessed or availed on or through the Application or any contract or transaction
        entered into or executed in pursuance thereof (however arising, including negligence) or resulting from the use
        of or inability to use, access or avail of the Application, any service or product or out of any breach of any
        warranty. Under no circumstances shall SBI LIFE INSURANCE CO LTD be liable for any damages whatsoever whether
        such damages are direct, indirect, incidental consequential and irrespective of whether any claim is based on
        loss of revenue, investment, production, goodwill, profit, interruption of business or any other loss of any
        character or nature whatsoever and whether sustained by you or any other person.. SBI LIFE INSURANCE CO LTD
        shall not be responsible for any inability to access the Application or any use or misuse of the Application.
        Any search results displayed by or on the Application are automated and cannot be screened. Accordingly, SBI
        LIFE INSURANCE CO LTD assumes no responsibility for the accuracy or otherwise of any search results or of the
        content of any site included in the search results or otherwise linked to the Application. SBI LIFE INSURANCE CO
        LTD shall not be responsible for any unauthorised interception of e-mail to or from you or SBI LIFE INSURANCE CO
        LTD. To the extent possible, the disclaimers, limitations on liability and indemnities available to SBI LIFE
        INSURANCE CO LTD under the Terms and Conditions shall mutates mutandis extend and be available also to the
        Alliance Partners and Service Providers and its/ their respective directors, officers, employees, agents,
        successors, assigns, consultants, sponsors, affiliates, content providers and every one involved in creating,
        producing, delivering or managing the Application (or any part thereof). However, this clause shall not protect
        the aforesaid Persons or extend to their obligations and liability to SBI LIFE INSURANCE CO LTD or SBI LIFE
        INSURANCE CO LTD's claims against them. A possibility exists that the Application could include inaccuracies or
        errors. Additionally, a possibility exists that unauthorised additions, deletions or alterations could be made
        by third parties to the Application. Although SBI LIFE INSURANCE CO LTD attempts to ensure the integrity of the
        Application, they make no guarantee whatsoever as to its sequence, timeliness, completeness, correctness or
        accuracy. In the event that such an inaccuracy or incompleteness arises, please inform SBI LIFE INSURANCE CO LTD
        so that it can be corrected. Links from the Application clicking on certain portions or links within the
        Application might take you to other applications without any intimation or indication of doing or having done
        so. The linked applications are not under the control of SBI LIFE INSURANCE CO LTD and SBI LIFE INSURANCE CO LTD
        assumes no responsibility whatsoever for such other applications whether as to content, availability,
        performance or otherwise. SBI LIFE INSURANCE CO LTD also does not represent or warrant that these links shall
        operate satisfactorily. SBI LIFE INSURANCE CO LTD provides these links only as a convenience and links to
        external web sites do not constitute an endorsement by SBI LIFE INSURANCE CO LTD of such other sites, the
        sponsors of such sites or the content, products, advertising or other materials presented on or by such sites.
        SBI LIFE INSURANCE CO LTD shall not be responsible or liable, directly or indirectly, for any damage or loss
        caused or alleged to be caused by or in connection with the access or use of such other applications or reliance
        on or availing of any content, goods or services available on such other sites. The links on the Application may
        take you to other sites or to other locations within the Application where the trading of securities is
        possible. SBI LIFE INSURANCE CO LTD shall not be responsible or liable with regard to any trading which may be
        conducted on such linked trading sites, non-SBI LIFE INSURANCE CO LTD web sites, and any other web site which
        may be linked to or from the SBI LIFE INSURANCE CO LTD Application. For informational or educational purposes,
        or as a convenience to the users, the SBI LIFE INSURANCE CO LTD Application may provide referrals to third party
        content or links to third party applications, including companies that have a relationship with SBI LIFE
        INSURANCE CO LTD. Our decision to provide referral information to a third party or to pass on an offer made by a
        third party or to provide a link from SBI LIFE INSURANCE CO LTD Application to a third party application shall
        not be construed as an endorsement of the third party products, services, content, tools and information. You
        will use third-party content at your own risk. SBI LIFE INSURANCE CO LTD is not responsible for any third party,
        their products or services their application, or any content made available through such third party sites, nor
        do we make any warranties or representations, express or implied, regarding third party content on any third
        party sites, and shall have no liability in relation to any of the foregoing. You shall agree to all the terms
        and conditions, disclaimers clauses and be liable to Copyright Owners of the hyper links appearing in the
        Application which is independent in itself and not connected. You shall further indemnify and keep indemnified
        SBI LIFE, its employees, directors, representatives and keep them harmless from any dispute(s) that may arise
        due to a violation/breach (s) of the Terms and Conditions of such hyper link(s) by you. You will be solely
        responsible for maintaining the confidentiality of the account that you create on the SBI LIFE INSURANCE CO LTD
        Application.</p>
      <h3>Proprietary and Intellectual Property Rights</h3>
      <p>SBI LIFE INSURANCE CO LTD is the owner and/or authorized user of any trademark, registered trademark and/or
        service mark appearing on the Application, and is the copyright owner or licensee of the content and/or
        information on the Application including but not limited to any text, images, illustrations, audio clips, video
        clips and screens appearing on the Application. All rights on the Application are reserved and you may not
        download and/or save a copy of the Application or any part thereof including any of the screens or part thereof
        and/or reproduce, store it in a retrieval system or transmit it in any form or by any means - electronic,
        electrostatic, magnetic tape, mechanical printing, photocopying, recording or otherwise including the right of
        translation in any language without the express permission of SBI LIFE INSURANCE CO LTD (or use it in any manner
        that is likely to cause confusion or deception among persons or in any manner disparages or discredits SBI LIFE
        INSURANCE CO LTD or Partners. This Application is for your personal use. If you make other use of this
        Application, except as otherwise provided above, you may violate copyright and other laws of India and other
        countries, and may be subject to penalties. SBI LIFE INSURANCE CO LTD, its Partners do not grant any license or
        other authorization or user of its trademarks, registered trademarks, service marks, or other copyrightable
        material or other intellectual property by placing them on the Application. </p>
      <h3>Authority to SBI LIFE INSURANCE CO LTD</h3>
      <p>You irrevocably and unconditionally authorise SBI LIFE INSURANCE CO LTD to access all information relating to
        you (including personal information and information relating to access and use of the Application by you and the
        transactions entered into by you). Subject to the Privacy Policy, all information submitted on or via the
        Application shall be deemed to be and remain the property of SBI LIFE INSURANCE CO LTD and the Partners; and SBI
        LIFE INSURANCE CO LTD, the Affiliate Partners shall be free to use, for any purpose, any ideas, concepts,
        know-how or techniques contained in any information you may provide to or through the Application. SBI LIFE
        INSURANCE CO LTD, the Partners shall not be subject to any obligations of confidentiality regarding submitted
        information except as otherwise expressly agreed by it directly with you. SBI LIFE INSURANCE CO LTD shall be
        deemed to acquire from you a non-exclusive, world-wide, perceptual, irrevocable, royalty free licence to use,
        adapt, reproduce, modify, publish, translate, create derivative works from, distribute, perform or display any
        ideas, concepts, know-how or techniques contained in any information provided by you to or through the
        Application.</p>
      <h3>No Agency</h3>
      <p>The Terms and Conditions and your use of or access to the Application are not intended to create an agency,
        partnership, joint-venture or employer-employee relationship between you and the Application, SBI LIFE INSURANCE
        CO LTD and any Partner.</p>
      <h3>No Obligation for Maintenance</h3>
      <p>SBI LIFE INSURANCE CO LTD has no obligation to monitor the functioning of the Application. However, you
        acknowledge and agree that SBI LIFE INSURANCE CO LTD has the right to monitor the functioning of the Application
        electronically or otherwise from time to time and to disclose any information as necessary or appropriate to
        satisfy any law, regulation or other governmental request, to operate the Application properly or to protect
        itself or its Service Providers, Alliance Partners, Visitors, Users. SBI LIFE INSURANCE CO LTD will not
        intentionally monitor or disclose any private electronic-mail message to any third party unless required by law.
        SBI LIFE INSURANCE CO LTD reserves the right to refuse to post or to remove any information or materials, in
        whole or in part, that, in its sole discretion, are unacceptable, undesirable, inappropriate or in violation of
        the Terms and Conditions.</p>
      <h3>Indemnity</h3>
      <p>You agree to defend, indemnify and hold SBI LIFE INSURANCE CO LTD, its directors, officers, employees,
        Affiliates Partners, and Content harmless from any and all claims, liabilities, damages, costs, expenses and
        proceedings, including reasonable attorneys' fees, arising in any way from your use of the Application or the
        placement or transmission of any message, information, software or other materials through the Application by
        you or users of your ID and password or related to any violation of the Terms and Conditions by you or users of
        your of your ID and password, and any claims dispute or differences between you and any supplier.</p>
      <h3>Termination</h3>
      <p>You acknowledge and agree that SBI LIFE INSURANCE CO LTD may, without notice, suspend or terminate your ID,
        password or account or deny you access to all or part of the Application without prior notice if you engage in
        any conduct or activities that SBI LIFE INSURANCE CO LTD in its sole discretion believes violate any of the
        Terms and Conditions, violate the rights of SBI LIFE INSURANCE CO LTD, or is otherwise inappropriate for
        continued access, or IF SBI LIFE INSURANCE CO LTD learns of your death, bankruptcy or lack of legal capacity or
        of circumstances which impact your credit worthiness (which shall be determined at the sole discretion of SBI
        LIFE INSURANCE CO LTD) or for any other reason which SBI LIFE INSURANCE CO LTD thinks fit and proper. You
        acknowledge and agree that SBI LIFE INSURANCE CO LTD may in its sole discretion deny you access through SBI LIFE
        INSURANCE CO LTD to any materials stored on the Internet, or to access third party services, merchandise or
        information on the Internet through the Application, and SBI LIFE INSURANCE CO LTD shall have no responsibility
        to notify you or third-party providers of facilities, services, merchandise or information nor any
        responsibility for any consequences resulting from lack of notification. </p>
      <h3>Disclosure Policy</h3>
      <p>We will only share non-public personal information with third parties in the limited circumstances permitted
        under law including situations where we need to share information with entities who work on behalf of SBI LIFE
        INSURANCE CO LTD to service or maintain your account or process transactions as requested by you, when the
        disclosure is made to a party representing you, or when such information is required by law including inter alia
        in response to a legal process. Further, SBI LIFE INSURANCE CO LTD will ensure that any third parties assisting
        it in marketing its products, are under contractual obligations to protect the confidentiality of information of
        the users of the SBI LIFE INSURANCE CO LTD Application, and to use it only to provide the services to the extent
        as required under the agreement with SBI LIFE INSURANCE CO LTD.</p>
      <h3>Governing Law & Jurisdiction</h3>
      <p>The Application, the Terms and Conditions, all transactions entered into on or through the Application and the
        relationship between you and SBI LIFE INSURANCE CO LTD shall be governed by and construed in accordance with the
        laws of India and no other nation, without regard to the laws relating to conflicts of law. You and SBI LIFE
        INSURANCE CO LTD agree that all claims, differences and disputes arising under or in connection with or pursuant
        to the Application, the Terms and Conditions, any transactions entered into on or through the Application or the
        relationship between you and SBI LIFE INSURANCE CO LTD shall be subject to the exclusive jurisdiction of the
        competent courts located in the city of New Delhi, India and you hereby accede to and accept the jurisdiction of
        such courts. Provided that, notwithstanding what is stated above, if SBI LIFE INSURANCE CO LTD so thinks fit SBI
        LIFE INSURANCE CO LTD may institute proceedings against you in any other court or tribunal having jurisdiction.
        SBI LIFE INSURANCE CO LTD accepts no liability whatsoever, direct or indirect for non-compliance with the laws
        of any country other than that of India. The mere fact that the Application can be accessed or used or any
        facility can be availed of in a country other than India would not mean that the laws of such country would be
        applicable.</p>
      <h3>No Waiver</h3>
      <p>The failure or delay of SBI LIFE INSURANCE CO LTD to exercise or enforce any right or provision of the Terms
        and Conditions shall not constitute a waiver of such right or provision. No waiver on the part of SBI LIFE
        INSURANCE CO LTD shall be valid unless it is in writing signed by or on behalf of SBI LIFE INSURANCE CO LTD. A
        waiver of any right or provision by SBI LIFE INSURANCE CO LTD on a particular occasion shall not prevent SBI
        LIFE INSURANCE CO LTD from enforcing such right or provision on a subsequent occasion.</p>
      <h3>Severability</h3>
      <p>If any provision of the Terms and Conditions shall be held to be invalid or unenforceable by reason of any law
        or any rule, order, judgment, decree, award or decision of any court, tribunal or regulatory or self-regulatory
        agency or body, such invalidity or unenforceability shall attach only to such provision or condition,. The
        validity of the remaining provisions and conditions shall not be affected thereby and these Terms and Conditions
        shall be carried out as if any such invalid or unenforceable provision or condition was not contained herein.
      </p>
      <h3>Limitation</h3>
      <p>Notwithstanding any statute or law to the contrary, but to the extent permitted by law, any claim or cause of
        action arising out of or related to access or use of the Application or the Terms and Conditions must be filed
        within three (3) months after such claim or cause of action arose failing which it shall be forever barred.</p>
      <h3>Notices</h3>
      <p>SBI LIFE INSURANCE CO LTD may give notice to you by e-mail, letter, telephone or any other means as SBI LIFE
        INSURANCE CO LTD may deem fit to the address last given by you. Notices under the Terms and Conditions may be
        given to SBI LIFE INSURANCE CO LTD by you in writing by delivering them by hand or by sending them by post to
        SBI LIFE INSURANCE CO LTD's address mentioned on the Application. SBI LIFE INSURANCE CO LTD may, but shall not
        be bound to, act upon notices and instructions given by you to SBI LIFE INSURANCE CO LTD by e-mail, letter,
        telephone or any other means as SBI LIFE INSURANCE CO LTD may deem fit. In addition, SBI LIFE INSURANCE CO LTD
        may (but shall not be bound to) also publish notices of general nature, which are applicable to all users in a
        newspaper circulating in India or on its Application. Such notices will have the same effect as a notice served
        individually to each user (including you). Documents which may be sent by electronic communication between the
        parties may be in the form of an electronic mail, an electronic mail attachment, or in the form of an available
        download from the Application. SBI LIFE INSURANCE CO LTD shall be deemed to have duly communicated and delivered
        any communication or document to you if such communication or document is sent via electronic mail (e-mail) to
        the e-mail address provided by you to SBI LIFE INSURANCE CO LTD. SBI LIFE INSURANCE CO LTD shall also be
        entitled to act on the basis of any instructions received or purported to be received by SBI LIFE INSURANCE CO
        LTD from you by e-mail or other electronic means or via the internet. SBI LIFE INSURANCE CO LTD shall also be
        entitled (but not bound) to act upon fax instructions and communications.</p>
      <h3>Miscellaneous</h3>
      <p>The clause headings in the Terms and Conditions are only for convenience and do not affect the meaning of any
        provision and shall not be taken into account in interpreting or limiting the scope of the provisions of the
        Terms and the Conditions. SBI LIFE INSURANCE CO LTD may sub-contract or employ agents to carry out any functions
        or services relating to the Application or any of its obligations under the Terms and Conditions. SBI LIFE
        INSURANCE CO LTD may from time to time send by e-mail or otherwise, information relating to products and
        services offered by it or the Partners or any other entities, general information related to financial and other
        services, advertisements of various products and services etc. to you. You must at your own cost: (a) provide
        for your own access to the World Wide Web and pay any service fees, telephone charges and online service usage
        associated with such access, and (b) provide all equipment necessary for you to make such connection to the
        World Wide Web, including a computer and modem. The content presented at the Application may vary depending upon
        your browser limitations.</p>
      <h3>Grievance Redressal</h3>
      <p>Redressal Mechanism: Any complaints, abuse or concerns with regards to content and or comment or breach of
        these terms shall be immediately informed by e-mail to <a
          href="mailto:paisagenie@sbilife.co.in">paisagenie@sbilife.co.in</a> Provide the following information in your
        complaint: </p>
      <ol>
        <li>Identification of the information provided by you.</li>
        <li> Clear statement as to whether the information is personal information or sensitive personal information.
        </li>
        <li>Your telephone number or e-mail address. </li>
        <li>A statement that you have a good-faith belief that the information has been processed incorrectly or
          disclosed without authorization, as the case may be.
        </li>
        <li>A statement, under penalty of perjury, that the information in the notice is accurate, and that the
          information being complained about belongs to you.</li>
      </ol>
    </div>
    
  </div>
</ion-content>