page-collection-details {
    .header { 
        .toolbar {    box-shadow: none;background: $sbi_secondary_color;
            .toolbar-background{border:none;}
                .bar-button{color: $sbi_fifth_color;}
                .toolbar-content{
                    .toolbar-title{
                        color: $sbi_fifth_color;
                    }
                } 
        }
        .articles_num{
            text-align: center; padding: 10px;
            .articles_num_cont{
                font-family:'Lato Semibold'; display: inline-block; vertical-align: middle;
                color:$sbi_nine_color;       
                font-size: 3.77vw;  text-align: center;   padding: 7px 17px; margin: 0; border-radius:20px; border: 1px solid $sbi_third_color;
                strong{font-family:'Lato Bold'; color: $sbi_error_color; }
            }
        }
        &:after{background-image:none; height: 0;}
       
    }

    .content {
       
        .article_description_cont{ padding: 16px;
           h2{
            font-family:'Lato Black'; 
            color:$sbi_primary_color;       
            font-size: 6.66vw; 
            line-height: 7.66vw;
            margin: 0 0 7px 0; position: relative;    padding-right: 6.11vw;
            .icon{
              position: absolute; right:0; top:4px; color: lighten($sbi_eight_color,10%);font-size: 6vw;
            }
           } 
           h5{
            font-family:'Lato'; 
            color:$sbi_primary_color;       
            font-size: 3.05vw; 
            margin: 0 0 10px 0;   
            span{
                font-family:'Lato Semibold';  color: $sbi_highlighted_color; 
            }
           }

           figure{
               margin: 0 0 15px 0;
               img{border-radius: 4px; width:100%;}
           }
           .search_keyword{
                button{
                    font-size: 3.88vw; font-family:'Lato Light'; color:$sbi_nine_color;  background-color: lighten($sbi_third_color,24%);text-transform: none; padding: 3.6vw 2.77vw; box-shadow: none;     border-radius: 4px;
                }
           }
           p{
               font-size: 5vw; line-height: 7vw;font-family:'Lato Light'; color:$sbi_secondary_color; 
           }
        }
.comment_option{ border-top:1px solid lighten($sbi_third_color,20%);; border-bottom:1px solid lighten($sbi_third_color,20%); margin: 0 0 14px 0;
.col{
    font-size: 2.77vw; font-family:'Lato'; color:$sbi_nine_color;  text-transform: uppercase; text-align: center; padding: 10px!important;
    &:first-child{
        border-right:1px solid lighten($sbi_third_color,20%);
    }
    .icon{
        margin-right: 2vw;
        font-size: 5.77vw;
        vertical-align: middle;color:lighten($sbi_nine_color,20%); 
    }
}
}
        .recommend_for_your{

            background: rgba(255,255,255,0);
            background: -moz-linear-gradient(top, rgba(230,234,239,1) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,234,239,1)), color-stop(100%, rgba(255,255,255,0)));
            background: -webkit-linear-gradient(top, rgba(230,234,239,1) 0%, rgba(255,255,255,0) 100%);
            background: -o-linear-gradient(top, rgba(230,234,239,1) 0%, rgba(255,255,255,0) 100%);
            background: -ms-linear-gradient(top, rgba(230,234,239,1) 0%, rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom, rgba(230,234,239,1) 0%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eaef', endColorstr='#ffffff', GradientType=0 );
            .recommend_for_your_header {
                &.disc_com_header{
                    padding: 16px;
                    h2{

                        font-size:6.66vw;  font-family:'Lato Black';  margin: 0 0 5px 0; color: $sbi_primary_color;
                    }
                }
  
            }
        .recommend_for_your_cont{
        
            .recommend_for_your_cont_slider{
                .recommend_for_your_cont_slider_item{
                    .recommend_for_your_cont_slider_item_inner{ margin: 0 5px;
                      &.view_more{
                          min-height:100px; border:1px solid lighten($sbi_third_color,20%); border-radius: 4px; text-align: center; background-color: $sbi_fifth_color; position: relative;
                          .view_more_cont{ position: absolute; top:50%; transform: translateY(-50%); left:0; right:0;
                              .icon {
                                  font-size: 7.33vw; color:lighten($sbi_nine_color,30%);
                              }
                          span{display: block;  font-family:'Lato Semibold'; font-size:3.33vw; line-height: 3.39vw; color:lighten($sbi_nine_color,40%);}
                          }
                      }
                        figure{ margin: 0 0 18px 0;box-shadow: 0 4px 10px $sbi_third_color; border-radius: 4px;
                            img{width:100%; height:auto; border-radius: 4px; }
                        }
                        h4{font-family:'Lato'; font-size:3.61vw; line-height: 4.65vw;   margin: 0 0 10px 0; color: $sbi_nine_color;}
                        p{
                          font-family:'Lato'; font-size:3.33vw; line-height: 4.39vw;   margin: 0 0 10px 0; color:rgba(14,30,86,0.56);  overflow: hidden;
                          text-overflow: ellipsis; white-space: nowrap;
                        }
  
                    }
                }
            }
        }
      }

.scroll-content{
    padding-top: 0!important;
}
   
           
           

        
      
    }
   
}


