<ion-header>
  <ion-navbar text-center>
    <ion-title>
      {{'homeLoanEligibility.homeLoanEligibility' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="networth_details">
    <h4>{{'homeLoanEligibility.corpusTitle' | translate}}</h4>
    <div class="networth_amt">
      <div class="networth_amt_inner">
        <span class="rs_icon icon-Icons_Ruppee"></span>{{eligibleLoanAmount |
        amountFormat:'S'}}
      </div>
    </div>
  </div>

  <ion-card class="home_loan_card">
    <div class="main_img">
      <img
        class="outstanding_img"
        src="assets/imgs/hlv_calculator/hlv_outstanding.png"
      />
      <p class="total_amt">{{'homeLoanEligibility.totalPayableamount' | translate}}</p>
      <div class="emi_gen_val"><span class="rs_icon icon-Icons_Ruppee"></span>{{payableAmount | amountFormat:'S'}}</div>
    </div>
    <div class="column_wrapper">
      <div class="col_inner1">
        <ion-list class="column_box1">
          <figure>
            <img src="assets/imgs/fd_calculator/amount_invested.png" />
          </figure>
          <h5 class="loan_amt">{{'homeLoanEligibility.EMIPerMonth' | translate}}</h5>
          <div class="invested_result_amt loanamt_col" text-capitalize>
            <span class="rs_icon icon-Icons_Ruppee"></span>{{EMIPerMonth |
            amountFormat:'S'}}
          </div>
        </ion-list>
      </div>
    </div>
    <div class="column_wrapper">
      <div class="col_inner2">
        <ion-list class="column_box2">
          <figure>
            <img src="assets/imgs/fd_calculator/interest_earned.png" />
          </figure>
          <h5>{{'homeLoanEligibility.interestAmount' | translate}}</h5>
          <div class="invested_result_amt highlighted_txt" text-capitalize>
            <span class="rs_icon icon-Icons_Ruppee"></span>{{interestPayable |
            amountFormat:'S'}}
          </div>
        </ion-list>
      </div>
    </div>
    
    <!-- </ion-card-header> -->
    <ion-card-content class="home_loan_card_content">
      <!-- <div class="ba-slider" >
              <img src="assets/imgs/single_house.png" alt="" style="display: inline;">       
            </div>
           <div class="emi_gen">
             <h5>{{'homeLoanEligibility.totalPayableamount' | translate}}</h5>
             <div class="emi_gen_val"><span class="rs_icon icon-Icons_Ruppee"></span>{{payableAmount | amountFormat:2}}</div>
          </div> -->
      <ion-list class="networth_list">
        <ion-item>
          <div class="networth_list_lt" float-left>
            <figure>
              <img src="assets/imgs/chart.svg" />
            </figure>
            <p>{{'homeLoanEligibility.rateOfInterest' | translate}}</p>
          </div>
          <button ion-button icon-right float-right clear (click)="showOverlay('interestRate')">
            {{interestRate}}%
            <span class="drp_sub_txt">{{'common.pa' | translate}}</span><ion-icon
              name="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-item>

        <ion-item>
          <div class="networth_list_lt" float-left>
            <figure>
              <img src="assets/imgs/fd_calculator/insights.png" />
            </figure>
            <p>{{'homeLoanEligibility.monthlyIncome' | translate}}</p>
          </div>
          <button ion-button icon-right float-right text-capitalize clear (click)="showOverlay('monthlyIncome')">
            <span class="rs_icon icon-Icons_Ruppee"></span> {{monthlyIncome |
            amountFormat:'S'}} <ion-icon name="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-item>

        <ion-item>
          <div class="networth_list_lt" float-left>
            <figure>
              <img src="assets/imgs/fd_calculator/card_travel.png" />
            </figure>
            <p>{{'common.age' | translate}}</p>
          </div>
          <button ion-button icon-right text-lowercase float-right clear (click)="showOverlay('age')">
            {{age}} <span class="drp_sub_txt">{{'common.yrs' | translate}}</span><ion-icon
              name="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-item>
        <ion-item>
          <div class="networth_list_lt" float-left>
            <figure>
              <img src="assets/imgs/duration.svg" />
            </figure>
            <p>{{'common.duration' | translate}}</p>
          </div>
          <button ion-button icon-right text-lowercase float-right clear (click)="showOverlay('tenure')">
            {{tenure}}
            <span class="drp_sub_txt">{{'common.yrs' | translate}}</span><ion-icon
            name="md-arrow-dropdown"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <p class="disclaimer_txt" text-center>
    <!-- <span class="icon-Icons_Info"></span> -->
    <a (click)="disclaimerInfo()"> {{'common.disclaimersLink' | translate}}</a>
  </p>
</ion-content>
<ion-footer class="home_loan_final_footer">
  <div class="footer_panel row active">
    <div class="footer_panel_lt col">
      <button ion-button class="back_btn" outline (click)="recalculate()">
        {{'buttons.recalculate' | translate}}
      </button>
    </div>
    <div class="footer_panel_rt col">
      <button ion-button class="login_btn" (click)="goToGoalsListing()">
        {{'buttons.startPlanning' | translate}}
      </button>
    </div>
  </div>
</ion-footer>
<div class="overlay_dropdown" *ngIf="status">
  <div class="overlay_dropdown_content calculation_with_range">
    <homeloan-elig-range class="drop_com_comp" [rangeData]="rangeDataUi"></homeloan-elig-range>
    <ion-item>
      <button ion-button class="login_btn" (click)="done()">
        {{'common.done' | translate}}
      </button>
    </ion-item>
  </div>
</div>

<div class="overlay_dropdown annuity disclaimer" *ngIf="disclaimer">
  <div class="overlay_dropdown_content">
    <div class="overlay_dropdown_content_inner">
      <ion-icon name="ios-close-circle-outline" (click)="disclaimerClose()"></ion-icon>
      <h3 padding>{{'common.disclaimers' | translate}}</h3>
      <div class="innerCont" [innerHtml]="utilitiesProvider.disclaimerText"></div>
    </div>
  </div>
</div>
<div class="common_loader" *ngIf="pageLoader">
  <span><img src="assets/imgs/pageLoader.gif" /> </span>
</div>