page-home-goal-final {
  sub {
    bottom: 0;
  }
  .scroll_div .scroll-content {
    padding-top: 0 !important;
  }
  // .top_area{
  //     position: absolute;
  //     z-index: 1;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     background: none;
  //     .top_area_container{background: none;
  //         .cloud{
  //             opacity: 0.5;
  //         }
  //     }

  // }
  .header {
    background: $sbi_thirtytwo_color;

    .toolbar {
      box-shadow: none;
      background: $sbi_thirtytwo_color;
      border-bottom: 1px solid $sbi_fifth_color;

      .toolbar-background {
        border: none;
      }

      .bar-button {
        color: $sbi_fifth_color;
        // padding-left: 28px;
        .back-button-text {
          display: none;
        }
      }

      .toolbar-content {
        .toolbar-title {
          color: $sbi_fifth_color;
          text-transform: capitalize;
          font-family: "Lato";
          font-size: 4.615vw;
          margin-left: -22px;
        }
      }
    }

    &:after {
      background-image: none;
      height: 0;
    }
  }

  .swiper-slide {
    .ba-slider {
      margin: 22px 0 0 14px;
      width: auto;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    // &:nth-child(2){
    //     .ba-slider{
    //         padding-top: 11px;
    //     }
    // }
  }
  .content {
    background: $sbi_fifth_color !important;
    .networth_details {
      text-align: center;
      padding: 0 0 34px;
      h4 {
        font-family: "Lato";
        font-size: 6.154vw;
        color: $sbi_twentysix_color;
        margin: 0 auto;
        padding: 0 0 20px;
        width: 269px;
        letter-spacing: 0.38px;
      }
      .networth_amt {
        background: $sbi_thirtytwo_color;
        border-radius: 38px;
        width: 251px;
        height: 50px;
        margin: 0 auto;
        .networth_amt_inner {
          font-family: "Lato";
          font-size: 6.154vw;
          color: $sbi_fifth_color;
          margin: 0;
          padding: 10px 28px;
          text-align: center;
          .rs_icon {
            font-size: 0.76em;
            font-weight: bold;
          }
        }
      }
    }

    ion-card {
      &.custom_card {
        background: $sbi_fifth_color;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin: 0;
      }
      ion-card-content {
        &.custom_card_content {
          padding: 38px 0 0;
        }
      }
    }
    background: #5448b7; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #5448b7 0%,
      #5448b7 22%,
      #ffffff 22%,
      #ffffff 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #5448b7 0%,
      #5448b7 22%,
      #ffffff 22%,
      #ffffff 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #5448b7 0%,
      #5448b7 22%,
      #ffffff 22%,
      #ffffff 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5448b7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    .highcharts-container {
      margin: 0 auto;
    }

    .sukanya_slider {
      .heading_reinvest {
        padding: 0 0 5px 0;
        font-size: 13px;
        font-family: "Lato";
        color: $sbi_twentysix_color;
        // letter-spacing: 1.5px;
        text-transform: none;
      }
      .overlay_dropdown_rng_val {
        font-size: 8.61vw;
        line-height: 8.88vw;
      }
      .calculation_with_range {
        &.range_result {
          .calculation_with_range_inp {
            .overlay_dropdown_rng_val {
              .text-input {
                text-align: center;
              }
            }
          }
        }
      }

      .swiper-container {
        overflow: inherit;
      }
      .swiper-pagination-bullets {
        bottom: 0;
        .swiper-pagination-bullet {
          background: $sbi_thirtyfour_color;
        }
        .swiper-pagination-bullet-active {
          background: $sbi_twentyseven_color;
        }
      }
      .card {
        margin: 0 auto 25px auto;
        width: 97%;
        box-shadow: 0px 8px 19px 0px lighten($sbi_third_color, 10%);
        border-radius: 4px;
        .heading_panel_bg {
          text-align: center;
          background: url("../assets/imgs/heading_bg.png") no-repeat left top;
          background-size: cover;
          padding: 2.2vw 5.5vw 3.3vw 5.5vw;
          span {
            font-family: "Lato Semibold";
            font-size: 3.61vw;
            color: $sbi_fifth_color;
          }
        }

        .invested_result {
          padding: 36px 15px 0;
          .row {
            &:first-child {
              margin-right: 0px;
            }
            .col {
              // background: linear-gradient(270deg, #301F6C 0%, #D60D47 100%);
              border-radius: 8px;
              padding: 0px;
              width: 151px;
              height: auto;
              &.col_inner1{
              background: linear-gradient(270deg, #301F6C 0%, #D60D47 100%);
              border-radius: 8px;
              padding: 1px;
              width: 154px;
              height: auto;
              }
              
              .col_inner2{
                background: #fff;
                border-radius: 8px;
                border: 0px;
                border-color: $sbi_twentysix_color;
                border-style: solid;
                padding: 28px 1px 19px 1px;
                  text-align: center;
                  width: 100%;
                  height: 95px;
              figure {
                width: 24px;
                height: 24px;
                overflow: hidden;
                margin: 0 auto 20px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              h5 {
                background: $sbi_thirtytwo_color;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-family: "Lato Semibold";
                font-size: 3.077vw;
                margin: 0 0 4px;
                letter-spacing: 0.38px;
                white-space: nowrap;
              }
              .invested_result_amt {
                background: $sbi_thirtytwo_color;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-family: "Lato";
                font-size: 6.164vw;
                .rs_icon {
                  font-size: 0.76em;
                  font-weight: bold;
                  // margin-right: -3px;
                }
              }
              }

              .col_inner{
                background: #fff;
                border-radius: 8px;
                border: 1px;
                border-color: $sbi_twentysix_color;
                border-style: solid;
                padding: 30px 0 19px;
                  text-align: center;
                  width: 100%;
                  height: 97px;
              figure {
                width: 24px;
                height: 24px;
                overflow: hidden;
                margin: 0 auto 20px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              h5 {
                font-family: "Lato Semibold";
                font-size: 3.077vw;
                color: $sbi_twentyseven_color;
                margin: 0 0 4px;
                letter-spacing: 0.38px;
                white-space: nowrap;
              }
              .invested_result_amt {
                font-family: "Lato";
                font-size: 6.164vw;
                color: $sbi_twentyseven_color;
                .rs_icon {
                  font-size: 0.76em;
                  font-weight: bold;
                  // margin-right: -3px;
                }
              }
              }
              
              // height: 130px;
              &:first-child {
                margin-right: 13px;
              }
              
            }
        }
        // .invested_result_heading {
        //   text-align: center;
        //   padding-top: 10px;
        //   padding-bottom: 10px;
        //   font-family: "Lato";
        //   color: lighten($sbi_third_color, 20%);
        //   font-size: 2.77vw;
        //   line-height: 3.05vw;
        //   .indiccat {
        //     vertical-align: middle;
        //     margin-right: 3px;
        //     margin-top: 0px;
        //   }
        //   .col {
        //     position: relative;
        //     strong {
        //       font-family: "Lato Black";
        //       margin-left: 4px;
        //       color: $sbi_third_color;
        //       .rs_icon {
        //         font-size: 3.33vw;
        //         margin-right: 2px;
        //       }
        //     }
        //     &:first-child {
        //       &:before {
        //         position: absolute;
        //         content: "";
        //         height: 12px;
        //         width: 1px;
        //         background-color: lighten($sbi_third_color, 40%);
        //         top: 5px;
        //         right: -1px;
        //       }
        //     }
        //   }
        // }
      }
    }
    .ttl_result_val {
      font-family: "Lato Black";
      color: $sbi_third_color;
      font-size: 14px;
      text-align: center;
      .rs_icon {
        font-size: 16px;
        margin-right: 2px;
      }
    }

    .calculation_with_range {
      .range {
        padding: 0px 5px 5px 5px;
        margin-top: -15px;
      }
      .item {
        text-align: center;

        .overlay_dropdown_rng_amt {
          font-family: "Lato Black";
          color: $sbi_secondary_color;
          font-size: 3.33vw;
          line-height: 3.61vw;
          float: right;
          margin-top: 20px;
          .rs_icon {
            margin-right: 2px;
            font-size: 3.61vw;
          }
        }
        &.item-range {
          padding-top: 0px;
          contain: none;
          overflow: inherit;
        }
      }
    }
    .emi_gen {
      text-align: center;
      padding: 0 0 30px 0;
      h5 {
        font-family: "Lato";
        color: $sbi_twentysix_color;
        font-size: 3.077vw;
        text-transform: uppercase;
        margin-bottom: 12px;
      }
      .emi_gen_val {
        font-family: "Lato";
        color: $sbi_twentyseven_color;
        font-size: 9.231vw;
        span {
          &.rs_icon {
            font-family: "Lato";
            color: $sbi_twentyseven_color;
            font-size: 8vw;
            display: inline-block;
            margin-top: 2px;
            margin-right: 2px;
          }
        }
      }
    }

    .indiccat {
      width: 3.33vw;
      height: 3.33vw;
      border-radius: 3.33vw;
      margin-right: 9px;
      display: inline-block;
      vertical-align: top;
      margin-top: 2px;
      &.color_fr {
        background-color: $sbi_sixth_color;
      }
      &.color_sec {
        background-color: $sbi_seven_color;
      }
      &.color_tr {
        background-color: $sbi_sixth_color;
      }
      &.color_fr {
        background-color: map-get($colors, secondary);
      }
      &.color_fi {
        background-color: $sbi_eight_color;
      }
    }

    .networth_list {
      margin: -1px -16px 0px;
      .item {
        border-top: 1px solid $sbi_fifty_color;
        font-family: "Lato Semibold";
        background-color: $sbi_fifth_color;
        color: $sbi_nine_color;
        font-size: 3.33vw;

        &.item-block {
          .item-inner {
            padding: 0 12px 0 22px;
          }
        }
        &.item-block:last-child {
          border-bottom: none;
        }

        .label {
          margin-right: 0;
          color: $sbi_nine_color;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 7px 8px 7px 0px;
          .rs_icon,
          .icon {
            font-size: 3.72vw;
            margin-right: 1.11vw;
            vertical-align: top;
            min-width: 15px;
          }
        }
        .select {
          .select-text {
            font-family: "Lato";
            color: $sbi_twentysix_color;
            font-size: 4.103vw;
            height: auto;
            margin-right: 4px;
          }
          .select-icon {
            color: $sbi_primary_color;
            padding-left: 7px;
            .select-icon-inner {
              position: relative;
              font-family: "Ionicons";
              border: none;
              top: 0;
              right: 0;
              width: auto;
              height: auto;
              left: auto;
              margin-top: 0px;
              &:after {
                content: "\f3d0";
                font-size: 4.4vw;
                color: lighten($sbi_primary_color, 20%);
                margin-top: 1px;
                position: absolute;
                top: 3px;
              }
            }
          }
        }

        .label_freq {
          margin: 13px 30px 13px 0;
          .freq_interest {
            display: flex;
            align-items: center;
            p {
              font-family: "Lato";
              font-size: 4.103vw;
              color: $sbi_twentysix_color;
              margin-left: 13px;
            }
            figure {
              width: 24px;
              height: 24px;
              overflow: hidden;
              margin: 0 4px 0 0px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .freq_select {
          padding: 13px 5px 13px 7px;
          color: #5c2483;
          vertical-align: middle;
          font-size: 4.5vw;
          margin-top: 2px;
          margin-right: 18px;

          ion-select::part(text) {
            color: #5c2483;
          }
        }

        .networth_list_lt {
          display: flex;
          align-items: center;
          p {
            font-family: "Lato";
            font-size: 4.103vw;
            color: $sbi_twentysix_color;
            margin-left: 15px;
            width: 140px;
            letter-spacing: 0.38px;
            white-space: break-spaces;
          }
          h6 {
            font-family: "Lato Regular";
            color: $sbi_twentysix_color;
            font-size: 2.8vw;
            margin-left: 15px;
            font-weight: 400;
          }
          .rs_icon,
          .icon {
            font-size: 3.72vw;
            margin-right: 4px;
            vertical-align: middle;
          }
          figure {
            width: 24px;
            height: 24px;
            overflow: hidden;
            margin: 0 auto;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .item-button {
          font-family: "Lato";
          color: $sbi_twentyseven_color;
          font-size: 4.103vw;
          height: auto;
          text-transform: capitalize !important;
          .wrap-text {
            width: 93px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $sbi_twentyseven_color;
            margin-top: -1px;
          }
          .rs_icon,
          .icon-Icons_Monthly_Expense {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.76em;
            margin-top: 3px;
            margin-right: -1px;
            font-weight: bold;
          }
          .icon {
            font-size: 1.4em;
            line-height: 0.67;
            pointer-events: none;
            padding-left: 0.4em;
            color: #2a2076;
            margin-right: 12px;
            margin-top: 2px;
          }
        }
      }
    }

    .disclaimer_txt {
      font-family: "Lato";
      font-size: 4.103vw;
      color: $sbi_thirtyeight_color;
      margin: 0;
      padding: 25px 0 0;
      text-transform: capitalize;
      text-decoration-line: underline;
      a {
        color: $sbi_thirtyeight_color;
      }
    }
  }
}

}