<ion-content class="main-view" scroll="true">
    <div class="overlay" (click)="dismissModal()"></div>
    <div class="modal_content">
      <div class="up_content"></div>
      <h2>Disclaimers</h2>
      
        <div class="modal_info">
          <p>The information, material, advices, suggestions, illustrations notifications, circulars etc. are collectively stated "the content" in this application. If the said content contains any mistakes, omissions, inaccuracies and typographical errors, etc. SBI Life assumes no responsibility thereof. </p>
              <p>SBI Life makes no warranty or representation regarding any content provided through this application and disclaims its liabilities in respect thereof. Any action on your part on the basis of the said content is at your own risk and responsibility.</p>
              <p>SBI Life reserves its right to correct any part of the said content at any time as and when required at its sole discretion. The content of this application shall not be displayed or printed in any form in part or whole without the prior written approval of SBI Life.</p>
              <p>E-mail messages sent to SBI Life over the Internet cannot be guaranteed to be completely secure. The integrity of such messages cannot be guaranteed on the Internet and SBI Life will not be responsible for any damages incurred by users due to messages send or received by them to and from SBI Life. </p>
              <p>SBI Life does not send emails from other than domain names - sbilife.co.in & sbi-life.com. Please do not respond to any mails other than email IDs with this domain name as same may be fraudulent/phishing emails.</p>
        </div>  
    </div>
  </ion-content>