<ion-header>
  <ion-navbar text-center>
    <button [class.active]="isBtnActive" (click)="toggleClass()" ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'homeGoal.homeGoal' | translate}}</ion-title>
  </ion-navbar>
  <div class="calculator_common_sec_steps">
    <div class="calculator_steps" id="stepsCount">
      <div class="calculator_steps_com active">
        <div class="calculator_dashed step1">
          <span class="calculator_steps_com_num">
            <span>1</span>
          </span>
        </div>
      </div>
      <div class="calculator_steps_com">
        <div class="calculator_dashed step2">
          <span class="calculator_steps_com_num">
            <span>2</span>
          </span>
        </div>
      </div>
      <div class="calculator_steps_com">
        <div class="calculator_dashed step3">
          <span class="calculator_steps_com_num">
            <span>3</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content class="calculator_common_sec">
  <ion-slides class="calculator_sliders" pager="false">
    <ion-slide>
      <div class="calculator_common_sec_inner age_slider_heading">
        <h1>{{'homeGoal.qOne' | translate}}</h1>
        <h5>
          {{'homeGoal.inTheYear' | translate}} {{yearDiff}}
        </h5>
      </div>
      <div class="tell_us_cont_common">
        <div class="tell_us_cont com_head active">
          <div class="tell_us_slider homeYear common_years_slider dOneSlider">
            <div *ngFor="let i of selectHomeBar">
              <span class="tell_us_slider_age">{{i}}</span>
              <span class="tell_us_slider_year">{{'common.years' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <!-- Step 2 -->
    <ion-slide>
      <div class="calculator_common_sec_inner age_slider_heading">
        <h3>{{'homeGoal.qTwo' | translate}}</h3>
        <h5>{{'homeGoal.approximateValue' | translate}}</h5>
      </div>
      <div class="tell_us_cont_common goals_slider_range">
        <div class="calculator_common_sec_inner">
          <div class="calculation_with_range">
            <div class="calculation_with_range_inp">
              <ion-input type="tel" [(ngModel)]="costOfHomeComma" class="overlay_dropdown_rng_val"
                (ionChange)="formatAmount(costOfHomeComma)"></ion-input>
            </div>
            <ion-item>
              <ion-range min="{{minCostHome}}" max="{{maxCostHome}}" step="{{steps}}" [(ngModel)]="costOfHome"
                pin="true" (ngModelChange)="doSomething($event)">
              </ion-range>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-slide>
    <!-- Step 3 -->
    <ion-slide>
      <div class="calculator_common_sec_inner age_slider_heading">
        <h2>{{'homeGoal.qThree' | translate}}</h2>
        <h5>
          <strong>{{downPaymentPer}}% </strong> {{'homeGoal.ofTheTotalCost' |
          translate}}
        </h5>
      </div>

      <div class="tell_us_cont_common goals_slider_range">
        <div class="calculator_common_sec_inner">
          <div class="calculation_with_range range_with_icon">
            <div class="calculation_with_range_inp">
              <ion-input type="tel" [(ngModel)]="downPaymentComma" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$"
                (ionChange)="changeDownPayment('input')" class="overlay_dropdown_rng_val"></ion-input>
            </div>
            <ion-item>
              <ion-range min="{{minDownPayPer}}" max="{{maxDownPayPer}}" step="1" [(ngModel)]="downPaymentPer"
                pin="true" (ngModelChange)="changeDownPayment('range')">
                <ion-icon range-left class="rng_lt">10%</ion-icon>
                <ion-icon range-right class="rng_rt">100%</ion-icon>
              </ion-range>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="goals_footer">
  <div class="footer_panel row active">
    <div class="footer_panel_lt col" *ngIf="!backBtnhide">
      <button ion-button outline class="back_btn" (click)="back()">
        {{'common.back' | translate}}
      </button>
    </div>
    <div class="footer_panel_rt col" [attr.text-center]="backBtnhide ? '' : null">
      <button ion-button class="login_btn" (click)="next()">
        {{'common.next' | translate}}
      </button>
    </div>
  </div>
</ion-footer>
<div class="common_loader" *ngIf="pageLoader">
  <span><img src="assets/imgs/pageLoader.gif" /> </span>
</div>