page-goal-assets {
  // .top_area{
  //     position: absolute;
  //     z-index: 1;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     background: none;
  //     .top_area_container{background: none;

  //     }

  // }
  .header {
    background: $sbi_thirtytwo_color;

    .toolbar {
      box-shadow: none;
      background: $sbi_thirtytwo_color;
      border-bottom: 1px solid $sbi_fifth_color;

      .toolbar-background {
        border: none;
      }

      .bar-button {
        color: $sbi_fifth_color;
        // padding-left: 28px;
        .back-button-text {
          display: none;
        }
      }

      .toolbar-content {
        .toolbar-title {
          color: $sbi_fifth_color;
          text-transform: capitalize;
          font-family: "Lato";
          font-size: 4.615vw;
          margin-left: -22px;
        }
      }
    }

    &:after {
      background-image: none;
      height: 0;
    }
  }
  .calculator_common_sec {
    .calculator_steps {
      display: table;
      text-align: center;
      width: 100%;
      padding: 10px 30px;
      .calculator_steps_com {
        display: table-cell;
        vertical-align: top;
        width: 25%;
        .calculator_steps_com_num {
          width: 16px;
          height: 16px;
          border-radius: 16px;
          padding: 3px;
          display: block;
          background: lighten($sbi_third_color, 10%);
          font-size: 9px;
          color: #fff;
          font-family: "Lato Black";
          margin: 0 auto 5px auto;

          span {
            display: block;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            margin-top: -1px;
          }
        }
        .icon {
          display: none;
        }
        &.active {
          .calculator_steps_com_num {
            background: lighten($sbi_error_color, 10%);
            span {
              display: none;
            }
            .icon {
              display: block;
            }
          }

          .calculator_steps_com_bar {
            background: lighten($sbi_error_color, 10%);
            box-shadow: 0 2px 7px lighten($sbi_error_color, 10%);
            /*  &:after{
                    background: lighten($sbi_error_color,10%);
                    width: 4px;
                    height: 9px;
                    content: '';
                    right: -3px;
                    transform: rotate(24deg);
                } */
            &:before {
              height: 0;
            }
          }
        }
        .calculator_steps_com_bar {
          height: 8px;
          width: 100%;
          display: block;
          background: lighten($sbi_third_color, 10%);
          position: relative;
          &:after {
            position: absolute;
            width: 4px;
            height: 14px;
            content: "";
            right: -1px;
            top: -1px;
            background: #fff;
            transform: rotate(24deg);
            z-index: 1;
          }
          &:before {
            position: absolute;
            background: #fff;
            width: 100%;
            height: 5px;
            content: "";
            right: 0;
            left: -3px;
            bottom: -5px;
            z-index: 1;
          }
        }
        &:first-child {
          .calculator_steps_com_bar {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
        }
        &:last-child {
          .calculator_steps_com_bar {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            &:after {
              width: 0;
              height: 0;
            }
          }
          &.active {
            &:after {
              width: 0;
              height: 0;
            }
          }
        }
      }
    }
    .calculator_common_sec_inner {
      padding: 0;
    }
    .calculator_sliders {
      height: auto;
      .swiper-slide {
        align-items: start;
        position: relative;
      }
      /*   height: auto;
             .swiper-container{overflow-y: auto;}
             .swiper-slide{display: block;} */
      .calculator_common_sec_inner {
        h1 {
          font-family: "Lato";
          color: $sbi_twentysix_color;
          font-size: 6.154vw;
          margin: 0;
          text-align: center;
          padding: 0 35px 25px;
        }
        h2 {
          font-family: "Lato";
          color: $sbi_twentysix_color;
          font-size: 4.154vw;
          margin: 0;
          text-align: left;
          padding: 2px 0 2px;
        }
        h5 {
          font-family: "Lato";
          color: $sbi_twentysix_color;
          font-size: 3.077vw;
          margin: 0;
          text-align: center;
          padding: 0 0 35px;
          text-transform: uppercase;
        }
        .invest_option_wrapper {
          overflow-y: auto;
          overflow-x: hidden;
          border-radius: 4px;
          border: 1px solid rgba(114, 114, 114, 0.15);
          background: #fff;
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
          padding: 27px 14px;
          margin: 14px;
        }
        .invest_option {
          .row {
            margin: 0 -10px;
            > .col {
              display: none;
            }
          }
          .button {
            padding: 0 6.11vw;
            position: relative;
            height: 10vw;
            border-radius: 2px;
            background: lighten($sbi_third_color, 20%);
            box-shadow: none;
            font-size: 2.77vw;
            text-transform: none;
            width: 100%;
            font-family: "Lato Black";
            color: $sbi_third_color;
            .icon {
              position: absolute;
              width: 4.16vw;
              height: 4.16vw;
              top: 3.05vw;
              right: 1.66vw;
              padding: 0;
              font-size: 2.5vw;
              line-height: 4.16vw;
              border-radius: 50%;
              display: none;
              background: rgba(15, 9, 60, 1);
              background: -moz-linear-gradient(
                top,
                rgba(15, 9, 60, 1) 0%,
                rgba(0, 0, 0, 0.09) 51%,
                rgba(0, 0, 0, 0.09) 100%
              );
              background: -webkit-gradient(
                left top,
                left bottom,
                color-stop(0%, rgba(15, 9, 60, 1)),
                color-stop(51%, rgba(0, 0, 0, 0.09)),
                color-stop(100%, rgba(0, 0, 0, 0.09))
              );
              background: -webkit-linear-gradient(
                top,
                rgba(15, 9, 60, 1) 0%,
                rgba(0, 0, 0, 0.09) 51%,
                rgba(0, 0, 0, 0.09) 100%
              );
              background: -o-linear-gradient(
                top,
                rgba(15, 9, 60, 1) 0%,
                rgba(0, 0, 0, 0.09) 51%,
                rgba(0, 0, 0, 0.09) 100%
              );
              background: -ms-linear-gradient(
                top,
                rgba(15, 9, 60, 1) 0%,
                rgba(0, 0, 0, 0.09) 51%,
                rgba(0, 0, 0, 0.09) 100%
              );
              background: linear-gradient(
                to bottom,
                rgba(15, 9, 60, 1) 0%,
                rgba(0, 0, 0, 0.09) 51%,
                rgba(0, 0, 0, 0.09) 100%
              );
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f093c', endColorstr='#000000', GradientType=0 );
            }
            &.active {
              color: $sbi_fifth_color;
              background: $sbi_twentyseven_color;
              .icon {
                display: block;
              }
            }
          }
        }
        .showmore {
          button {
            font-family: "Lato Semibold";
            color: $sbi_secondary_color;
            font-size: 3.33vw;
            text-transform: none;
            padding: 0;
          }
          .lessmore {
            display: none;
          }
        }
        .footer_panel {
          margin: 0;
          padding: 5px 0px;
          .back_btn {
            margin: 0;
            width: 100%;
            max-width: 166px;
          }
        }
        .list {
          margin-top: 0;
          margin-bottom: 0;
          // position: relative;
          .button {
            position: relative;
            right: 0;
            top: 0;
            z-index: 999;
            margin: 5px;
            height: 5.55vw;
            width: 5.55vw;
            border-radius: 6.38vw;
            border: 1px solid $sbi_third_color;
            color: $sbi_nine_color;
            font-size: 2.77vw;
          }
        }
        .inp_with_close {
          padding: 0;
          border-top: none;
          top: -34px;
          .item-inner {
            padding-right: 0;
            // border-bottom: none!important;
            // .text-input {
            //   border: none;
            // }
            .label {
              font-size: 3.05vw;
              font-family: "Lato Black";
              color: $sbi_nine_color;
              text-transform: uppercase;
              margin-right: 0;
              overflow: visible;
            }

            .input {
              position: relative;
              &:before {
                position: absolute;
                font-family: $ruppes_font;
                color: $sbi_secondary_color;
                font-size: 6.11vw;
                top: 15px;
                padding-left: 7px;
                content: "`";
              }
              .text-input {
                font-size: 6.27vw;
                font-family: "Lato Thin";
                color: $sbi_secondary_color;
                border: 1px solid $sbi_twentyeight_color;
                padding: 1.282vw 5.55vw;
              }
            }
          }
          &.input-has-focus.item-input-has-focus {
            border-color: $sbi_secondary_color;
            box-shadow: inset 0 -1px 0 0 $sbi_secondary_color;
          }
        }
        &.calculator_grid_wrapper {
          overflow-y: scroll;
          overflow-x: hidden;
          margin: 0 14px;
        }
        &.calculate_ttl {
          border-top: 1px solid $sbi_secondary_color;
          border-bottom: 1px solid $sbi_secondary_color;
          margin: 0px 14px 20px;
          .calculate_ttl_lt {
            font-family: "Lato Black";
            color: $sbi_secondary_color;
            font-size: 3.33vw;
          }
          .calculate_ttl_rt {
            font-family: "Lato Black";
            color: $sbi_secondary_color;
            font-size: 3.88vw;
            .rs_icon {
              font-size: 4.16vw;
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
 .item-block:last-child,
 .item-wrapper:last-child .item-block {
    border-bottom: none!important;
  }
}
