<ion-header>
  <ion-navbar text-center>
    <button [class.active]="isBtnActive" (click)="toggleClass()" ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'becomeACrorepati.becomeACrorepati' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="networth_details">
    <h4>{{'becomeACrorepati.toBecomeACrorepatiYouNeedToSave' | translate}}</h4>
    <div class="networth_amt">
      <div class="networth_amt_inner">
        <span class="rs_icon icon-Icons_Ruppee"></span>
        {{(convertInt(suggestedSavingPM) < 0 ? 0 : convertInt(suggestedSavingPM)) | amountFormat: 'S'}} <span class="pm">
          {{'common.pm' | translate}}</span>
      </div>
    </div>
  </div>

  <div class="sukanya_slider">
    <ion-slides pager="false">
      <ion-slide>
        <ion-card class="sukanya_card">
          <ion-card-content class="sukanya_card_content">

            <div class="crorepati_img_sec">
              <figure>
                <img src="assets/imgs/become_crorepati/savings.png">
              </figure>
            </div>

            <div class="crorepati_content">
              <div class="row crorepati_content_row">
                <div class="col crorepati_content_td cr_fr">
                  <figure>
                    <img src="assets/imgs/become_crorepati/target_amt.png">
                  </figure>
                  <h5>{{'becomeACrorepati.targetAmount' | translate}}</h5>
                  <div class="crorepati_content_td_val">
                    <span class="rs_icon icon-Icons_Ruppee"></span>{{amountForCr | amountFormat:'S'}}
                  </div>
                </div>
                <div class="col crorepati_content_td cr_sec">
                  <figure>
                    <img src="assets/imgs/become_crorepati/amt_to_save.png">
                  </figure>
                  <h5>
                    {{('becomeACrorepati.amountToSaveIn' |
                    translate).replace('$year$', i_want_be_a_crorepati_in)}}
                  </h5>
                  <div class="crorepati_content_td_val">
                    <span class="rs_icon icon-Icons_Ruppee"></span>{{(convertInt(amountToSave) < 0 ? 0 : (convertInt(amountToSave)) | amountFormat:'S')}}</div>
                  </div>
                </div>
              </div>

              <p text-center class="heading_reinvest">
                {{'becomeACrorepati.amountAlreadySaved' | translate}}
              </p>

              <div class="calculation_with_range range_result">
                <div class="calculation_with_range_inp">
                  <!-- <span class="rs_icon icon-Icons_Ruppee"></span> -->
                  <ion-input type="tel" class="overlay_dropdown_rng_val" debounce="1000" [(ngModel)]="amountComma"
                    (ionChange)="formatAmount(amountComma)" (ionBlur)="amountChange()"></ion-input>
                </div>

                <ion-item>
                  <ion-range min="{{minAmount}}" max="{{maxAmount}}" step="{{steps}}" [(ngModel)]="amount" 
                    (ngModelChange)="amountChange()">
                  </ion-range>
                </ion-item>
              </div>

              <ion-list class="networth_list">
                <ion-item>
                  <div class="networth_list_lt" float-left>
                    <!-- <span class="icon-Icons_Rosk-Appetite icon"></span> -->
                    <figure>
                      <img src="assets/imgs/chart.svg" />
                    </figure>
                    <p>{{'becomeACrorepati.rateOfInterest' | translate}}</p>
                  </div>
                  <button ion-button icon-right float-right clear text-capitalize
                    (click)="showOverlay('rateOfInterest')">
                    <span class="rate_cost_years">{{expected_rate_of_return}}%</span>
                    <span class="drp_sub_txt"> {{'common.pa' | translate}} </span>
                    <ion-icon class="drop_down_arrow" name="md-arrow-dropdown"></ion-icon>
                  </button>
                </ion-item>

                <ion-item>
                  <div class="networth_list_lt" float-left>
                    <!-- <span class="icon-Icons_Rosk-Appetite icon"></span> -->
                    <figure>
                      <img src="assets/imgs/chart.svg" />
                    </figure>
                    <p>
                      {{'becomeACrorepati.increasingSavingsRate' | translate}}
                    </p>
                  </div>
                  <button ion-button icon-right float-right clear text-capitalize
                    (click)="showOverlay('IncrementalSavings')">
                    <span class="rate_cost_years">{{increasing_savings_rate}}%</span>
                    <span class="drp_sub_txt"> {{'common.pa' | translate}} </span>
                    <ion-icon class="drop_down_arrow" name="md-arrow-dropdown"></ion-icon>
                  </button>
                </ion-item>

                <ion-item>
                  <div class="networth_list_lt" float-left>
                    <!-- <ion-icon
                    ><span class="icon-Icons_Age_of_Retirement"></span
                  ></ion-icon> -->
                    <figure>
                      <img src="assets/imgs/duration.svg" />
                    </figure>
                    <p>
                      {{'becomeACrorepati.iWantToBeACrorepatiIn' | translate}}
                    </p>
                  </div>
                  <button ion-button icon-right float-right clear text-capitalize
                    (click)="showOverlay('i_want_be_a_crorepati_in')">
                    <span class="rate_cost_years">{{i_want_be_a_crorepati_in}}</span>
                    <span class="drp_sub_txt">
                      {{'common.yrs' | translate}}
                    </span>
                    <ion-icon class="drop_down_arrow" name="md-arrow-dropdown"></ion-icon>
                  </button>
                </ion-item>
              </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <p class="disclaimer_txt" text-center>
    <!-- <span class="icon-Icons_Info"></span> -->
    <a (click)="disclaimerInfo()">{{'common.disclaimersLink' | translate}}</a>
  </p>
</ion-content>

<ion-footer class="crorepati_footer">
  <div class="footer_panel row active">
    <div class="footer_panel_lt col">
      <button ion-button class="back_btn" outline (click)="recalculate()">
        {{'common.back' | translate}}
      </button>
    </div>
    <div class="footer_panel_rt col">
      <button ion-button class="login_btn" (click)="goToGoalsListing()">
        {{'buttons.readArticles' | translate}}
      </button>
    </div>
  </div>
  <div class="overlay_dropdown" *ngIf="status">
    <div class="overlay_dropdown_content calculation_with_range">
      <crorepati-range class="drop_com_comp" [rangeData]="rangeDataUi"></crorepati-range>
      <ion-item>
        <button ion-button class="login_btn" (click)="done()">
          {{'common.done' | translate}}
        </button>
      </ion-item>
    </div>
  </div>
  <div class="overlay_dropdown annuity disclaimer" *ngIf="disclaimer">
    <div class="overlay_dropdown_content">
      <div class="overlay_dropdown_content_inner">
        <ion-icon name="ios-close-circle-outline" (click)="disclaimerClose()"></ion-icon>
        <h3 padding>{{'common.disclaimer' | translate}}</h3>
        <div class="innerCont" [innerHtml]="utilitiesProvider.disclaimerText"></div>
      </div>
    </div>
  </div>
</ion-footer>
<div class="common_loader" *ngIf="pageLoader">
  <span><img src="assets/imgs/pageLoader.gif" /> </span>
</div>