<ion-header>
  <ion-navbar text-center>
    <ion-title>
      {{'healthInsuranceGoal.healthInsurance' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="networth_details" *ngIf="sliderCount % 2 != 0">
    <h4>{{'healthInsuranceGoal.totalHealthCoverRequired' | translate}}</h4>
    <div *ngIf="sliderCount == 1">
      <h4 *ngIf="type == 'NO'">
        {{'healthInsuranceGoal.forYou' | translate}}
      </h4>
      <!-- <br /> -->
      <h4 *ngIf="type == 'YES'">
        {{'healthInsuranceGoal.forSpouseAndChildren' | translate}}
      </h4>
    </div>
    <div *ngIf="sliderCount == 3">
      <h4>{{'healthInsuranceGoal.forParents' | translate}}</h4>
    </div>

    <div class="networth_amt">
      <div class="networth_amt_inner" *ngIf="sliderCount == 1">
        <span class="rs_icon icon-Icons_Ruppee"></span>
        <!-- {{(responseData.Table[0].SelfSpouseHealthCover < 0 ?   0 : responseData.Table[0].SelfSpouseHealthCover) | amountFormat : 0}} -->
        {{getRoundFigure(responseData.Table[0].SelfSpouseHealthCover) |
        amountFormat : 'S'}}
      </div>
      <div class="networth_amt_inner" *ngIf="sliderCount == 3">
        <span class="rs_icon icon-Icons_Ruppee"></span>
        {{getRoundFigure(responseData.Table[0].ParentHealthCover) |
        amountFormat : 'S'}}
        <!-- {{(responseData.Table[0].ParentHealthCover < 0 ?   0 : responseData.Table[0].ParentHealthCover) | amountFormat : 0}} -->
      </div>
    </div>
  </div>
  <div class="networth_details" *ngIf="sliderCount == 2">
    <h3>{{'healthInsuranceGoal.criticalIllness' | translate}}</h3>
    <h4 *ngIf="type == 'NO'">{{'healthInsuranceGoal.forYou' | translate}}</h4>
    <h4 *ngIf="type == 'YES'">
      {{'healthInsuranceGoal.forSpouseAndChildren' | translate}}
    </h4>
  </div>
  <div class="networth_details" *ngIf="sliderCount == 4">
    <h3>{{'healthInsuranceGoal.criticalIllness' | translate}}</h3>
    <h4>{{'healthInsuranceGoal.forParents' | translate}}</h4>
  </div>
  <div class="sukanya_slider">
    <ion-slides pager="false">
      <ion-slide>
        <ion-card class="health_card">
          <div class="ba-slider">
            <img src="assets/imgs/goals/health_insurances.png" alt="" />
          </div>
          <ion-card-content class="health_card_content">
            <div class="top_with_arrow">
              <ion-icon name="ios-arrow-back" class="arrow_back" *ngIf="sliderCount > 1"
                (click)="sliderCountFunction('back')"></ion-icon>
              <div class="ba-slider" *ngIf="sliderCount == 1">
                <!-- <img
                    src="{{'assets/imgs/healthInsurance/'+ cardOneImg +'_unfiled.png'}}"
                    alt=""
                  />
                  <div class="resize" id="resizeSelf">
                    <img
                      src="{{'assets/imgs/healthInsurance/' + cardOneImg + '.png'}}"
                      alt=""
                    />
                  </div> -->
              </div>
              <div class="ba-slider" *ngIf="sliderCount == 3">
                <!-- <img src="assets/imgs/healthInsurance/hlv_FatherMother_unfiled.png" alt="" />
                <div class="resize" id="resizeFaimly">
                  <img src="assets/imgs/healthInsurance/hlv_FatherMother.png" alt="" />
                </div> -->
              </div>
              <div class="critical_single" *ngIf="type == 'NO' && sliderCount == 2">
                <!-- <figure>
                  <img src="assets/imgs/healthInsurance/hlv_Self.png" alt="Health Insurance" />
                </figure> -->
                <ion-grid class="critical_single_btm" *ngFor="let s of responseData.Table1">
                  <ion-row>
                    <ion-col col-6 class="critical_single_col">
                      <h5>{{'healthInsuranceGoal.indemity' | translate}}</h5>
                      <div>
                        <span class="rs_icon" (click)="info(1)">`</span>
                        {{s.Indemnity | amountFormat:'S'}} &nbsp;{{'common.lac'
                        | translate}}
                      </div>
                    </ion-col>
                    <ion-col col-6 class="critical_single_col">
                      <h5>{{'healthInsuranceGoal.fixed' | translate}}</h5>
                      <div>
                        <span class="rs_icon" (click)="info(2)">`</span>
                        {{s.Fixed_Benefit | amountFormat:'S'}}
                        &nbsp;{{'common.lac' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div class="critical_slider_list" *ngIf="type == 'YES' && sliderCount == 2">
                <div class="critical_slider_list_row">
                  <div class="critical_slider_list_head"></div>
                  <div class="critical_slider_list_head" (click)="info(1)">
                    {{'healthInsuranceGoal.indemity' | translate}}
                    <span class="icon-Icons_Info"></span>
                  </div>
                  <div class="critical_slider_list_head" (click)="info(2)">
                    {{'healthInsuranceGoal.fixed' | translate}}
                    <span class="icon-Icons_Info"></span>
                  </div>
                </div>
                <div class="critical_slider_list_row" *ngFor="let s of responseData.Table1">
                  <div class="critical_slider_list_data"
                    *ngIf="s.RelationShip != 'Mother' && s.RelationShip != 'Father'">
                    <span class="critical_slider_list_data_img">
                      <img src="{{getImg(s.RelationShip)}}" />
                    </span>
                    <span class="critical_slider_list_data_val">{{s.RelationShip}}</span>
                  </div>
                  <div class="critical_slider_list_data"
                    *ngIf="s.RelationShip != 'Mother' && s.RelationShip != 'Father'">
                    <span class="rs_icon">`</span> {{s.Indemnity |
                    amountFormat:'S'}}
                  </div>
                  <div class="critical_slider_list_data"
                    *ngIf="s.RelationShip != 'Mother' && s.RelationShip != 'Father'">
                    <span class="rs_icon">`</span> {{s.Fixed_Benefit |
                    amountFormat:'S'}}
                  </div>
                </div>
              </div>

              <div class="critical_slider_list" *ngIf="type == 'YES' && sliderCount == 4">
                <div class="critical_slider_list_row">
                  <div class="critical_slider_list_head"></div>
                  <div class="critical_slider_list_head" (click)="info(1)">
                    {{'healthInsuranceGoal.indemity' | translate}}
                    <span class="icon-Icons_Info"></span>
                  </div>
                  <div class="critical_slider_list_head" (click)="info(2)">
                    {{'healthInsuranceGoal.fixed' | translate}}
                    <span class="icon-Icons_Info"></span>
                  </div>
                </div>

                <div class="critical_slider_list_row" *ngFor="let s of responseData.Table1">
                  <div class="critical_slider_list_data"
                    *ngIf="s.RelationShip == 'Mother' || s.RelationShip == 'Father'">
                    <span class="critical_slider_list_data_img">
                      <img src="{{getImg(s.RelationShip)}}" />
                    </span>
                    <span class="critical_slider_list_data_val">{{s.RelationShip}}</span>
                  </div>
                  <div class="critical_slider_list_data"
                    *ngIf="s.RelationShip == 'Mother' || s.RelationShip == 'Father'">
                    <span class="rs_icon">`</span> {{s.Indemnity |
                    amountFormat:'S'}} &nbsp;
                  </div>
                  <div class="critical_slider_list_data"
                    *ngIf="s.RelationShip == 'Mother' || s.RelationShip == 'Father'">
                    <span class="rs_icon">`</span> {{s.Fixed_Benefit |
                    amountFormat:'S'}} &nbsp;
                  </div>
                </div>
              </div>
              <ion-icon name="ios-arrow-forward" *ngIf="type== 'YES' && sliderCount == 1" class="arrow_forward"
                (click)="sliderCountFunction('forward')"></ion-icon>
              <ion-icon name="ios-arrow-forward" *ngIf="showForword" class="arrow_forward"
                (click)="sliderCountFunction('forward')"></ion-icon>

              <ion-icon name="ios-arrow-forward" *ngIf="type== 'NO' && sliderCount < 2" class="arrow_forward"
                (click)="sliderCountFunction('forward')"></ion-icon>
            </div>

            <!-- //Range Slider -->
            <div *ngIf="sliderCount == 1">
              <p text-center class="heading_reinvest">
                {{'healthInsuranceGoal.ExistingHealthCover' | translate}}
              </p>
              <div class="tell_us_cont_common goals_slider_range">
                <div class="calculator_common_sec_inner">
                  <div class="calculation_with_range">
                    <div class="calculation_with_range_inp">
                      <ion-input type="tel" class="overlay_dropdown_rng_val" [(ngModel)]="existingCoverComma"
                        (ionChange)="formatAmount(existingCoverComma, 'existSingle')"
                        (ionBlur)="rangeSliderExistingCover(existingCover, 'fromHtml')"></ion-input>
                    </div>
                    <ion-item>
                      <ion-range min="0" max="{{getRoundFigure(maxValueSelf)}}" step="{{steps}}" debounce="1000"
                        pin="true" [(ngModel)]="existingCover"
                        (ionBlur)="rangeSliderExistingCover(existingCover, 'fromHtml')">
                      </ion-range>
                    </ion-item>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="sliderCount == 3">
              <p text-center class="heading_reinvest">
                {{'healthInsuranceGoal.ExistingHealthCover' | translate}}
              </p>
              <div class="tell_us_cont_common goals_slider_range">
                <div class="calculator_common_sec_inner">
                  <div class="calculation_with_range">
                    <div class="calculation_with_range_inp">
                      <ion-input type="tel" class="overlay_dropdown_rng_val" [(ngModel)]="faimlyExistingCoverComma"
                        (ionChange)="formatAmount(this.faimlyExistingCoverComma, 'existFamily')"></ion-input>
                    </div>
                    <ion-item>
                      <ion-range min="0" max="{{getRoundFigure(maxRangeValueParent)}}" step="{{steps}}" debounce="1000"
                        pin="true" [(ngModel)]="faimlyExistingCover"
                        (ionBlur)="rangeSliderFaimlyExistingCover(faimlyExistingCover , 'fromHtml')">
                      </ion-range>
                    </ion-item>
                  </div>
                </div>
              </div>
            </div>

            <ion-list class="networth_list">
              <ion-item>
                <div class="networth_list_lt" float-left>
                  <figure>
                    <img src="assets/imgs/duration.svg" />
                  </figure>
                  <p>{{'common.age' | translate}}</p>
                </div>
                <button class="lowercase" ion-button icon-right float-right clear text-capitalize (click)="showOverlay('age')">
                  <!-- <span class="icon-Icons_Monthly_Expense"></span> -->
                  {{responseData.Table[0].SelfAge}} {{'common.yrs' | translate}}
                  <ion-icon name="md-arrow-dropdown"></ion-icon>
                </button>
              </ion-item>

              <ion-item>
                <div class="networth_list_lt" float-left>
                  <figure>
                    <img src="assets/imgs/chart.svg" />
                  </figure>
                  <p>{{'healthInsuranceGoal.monthlyIncome' | translate}}</p>
                  
                </div>
                <button ion-button icon-right float-right clear (click)="showOverlay('monthlyIncome')">
                  {{responseData.Table[0].SelfIncome | amountFormat : 'S'}}
                  <ion-icon name="md-arrow-dropdown"></ion-icon>
                </button>
              </ion-item>
              <!-- <ion-item>
                <ion-label>
                  <ion-icon name="ios-pulse"></ion-icon>
               Do you want to add your family into your cover?
                </ion-label>
                <ion-select interface="popover" [(ngModel)]="FamilyCoverReq" (click)="goBack()">
                  <ion-option value="YES">Yes</ion-option>
                  <ion-option value="NO">No</ion-option>
                </ion-select>
              </ion-item> -->
              <ion-item>
                <div class="networth_list_lt" float-left>
                  <figure>
                    <img src="assets/imgs/duration.svg" />
                  </figure>
                  <p>{{'healthInsuranceGoal.qThreeA' | translate}} <br> {{'healthInsuranceGoal.qThreeB' | translate}}</p><br>
                
                </div>
                <button ion-button icon-right float-right clear (click)="goBack()">
                  {{(FamilyCoverReq=='NO' ? 'common.no' : 'common.yes') |
                  translate}}
                  <ion-icon name="md-arrow-dropdown"></ion-icon>
                </button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- <div class="download_pdf">
    <a><img src="assets/imgs/download_pdf.png"/>{{'healthInsuranceGoal.downloadPdf' | translate}} </a>
  </div> -->
  <p class="disclaimer_txt" text-center>
    <a (click)="disclaimerInfo()"> {{'common.disclaimersLink' | translate}} </a>
  </p>
</ion-content>
<!-- </section> -->

<ion-footer class="goals_footer">
  <div class="footer_panel row active">
    <div class="footer_panel_lt col" (click)="replan()">
      <button ion-button class="back_btn" outline>
        {{'familyProtection.replan' | translate}}
      </button>
    </div>
    <div class="footer_panel_rt col">
      <button ion-button class="login_btn" (click)="goToArticles()">
        {{'familyProtection.readArticles' | translate}}
      </button>
    </div>
  </div>
</ion-footer>

<div class="overlay_dropdown annuity disclaimer" *ngIf="disclaimer">
  <div class="overlay_dropdown_content">
    <div class="overlay_dropdown_content_inner">
      <ion-icon name="ios-close-circle-outline" (click)="disclaimerClose()"></ion-icon>
      <h3 padding>{{'common.disclaimers' | translate}}</h3>
      <div class="innerCont" [innerHtml]="utilitiesProvider.disclaimerText"></div>
    </div>
  </div>
</div>

<div class="overlay_dropdown" *ngIf="status">
  <div class="overlay_dropdown_content calculation_with_range">
    <health-insurance class="drop_com_comp" class="drop_com_comp" [rangeData]="rangeDataUi"></health-insurance>
    <ion-item>
      <button ion-button class="login_btn" (click)="done()">
        {{'common.done' | translate}}
      </button>
    </ion-item>
  </div>
</div>

<!-- Save Goal        -->
<div class="overlay_dropdown annuity" *ngIf="saveGoalPopup">
  <div class="overlay_dropdown_content">
    <h3 text-center padding>{{'common.doYouWantToSaveGoal' | translate}}</h3>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button class="back_btn" outline (click)="saveFunction('dont')">
            {{'common.dontSave' | translate}}
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="login_btn" (click)="saveFunction('save')">
            {{'common.save' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
<div class="common_loader" *ngIf="pageLoader">
  <span> <img src="assets/imgs/pageLoader.gif" /> </span>
</div>

<div class="overlay_dropdown annuity discover_info" *ngIf="popupShow">
  <div class="overlay_dropdown_content">
    <div class="overlay_dropdown_content_inner">
      <ion-icon name="ios-close-circle-outline" (click)="hideDisclaimer()"></ion-icon>
      <p>{{popupText}}</p>
    </div>
  </div>
</div>