
      <ion-header>
          <ion-navbar>
            <ion-title>{{'eatingOutCalculator.eatingOutCalculator' | translate}}</ion-title>
            <ion-buttons end>
              <button ion-button icon-right (click)="takeScreenshot()">
                <ion-icon name="md-share"></ion-icon>
              </button>
            </ion-buttons>
            <ion-buttons end>
              <button ion-button icon-only class="notification-button" (click)="goNotificationList()">
                <ion-icon class="icon-Icons_Notification">
                  <ion-badge class="notifications-badge" color="sbi_primary_color" *ngIf="restapiProvider.notificationCount > 0">{{restapiProvider.notificationCount}}</ion-badge>
                </ion-icon>
              </button>
            </ion-buttons>
          </ion-navbar>
          <div class="networth_details">
            <h4>{{'eatingOutCalculator.amountYouSavePerMonth' | translate}}</h4>
            <div class="networth_amt">
              <div class="networth_amt_inner">
                  <span class="rs_icon icon-Icons_Ruppee"></span>
                {{convertInt(amt_saved_per_month) | amountFormat:2}}
              </div>
            </div>
          </div>
        </ion-header>
        <div class="top_area">
          <div class="top_area_container">
            <div class="cloud cloud1">
              <img src="assets/imgs/cloud1.png" width="68" height="33" /> </div>
            <div class="cloud cloud2">
              <img src="assets/imgs/cloud2.png" width="68" height="33" /> </div>
            <div class="cloud cloud3">
              <img src="assets/imgs/cloud3.png" width="99" height="48" /> </div>
            <div class="cloud cloud4">
              <img src="assets/imgs/cloud4.png" width="74" height="36" /> </div>
        
          </div>
        </div>
        <ion-content padding  (pan)="scrollToTop()">
        
          <div class="sukanya_slider">
            <ion-slides pager="false">
              <!-- [attr.text-center]="!Daughter2 ? '' : null" -->
              <ion-slide>
                <ion-card>
                  <ion-card-content>
                      <div class="smoke_heading">
                          <h5>{{'eatingOutCalculator.amountSavedInYears' | translate}}</h5>
                          <div class="smoke_heading_val">
                              <span class="rs_icon icon-Icons_Ruppee"></span>
                              {{convertInt(amt_saved < 0 ? 0 : amt_saved) | amountFormat:2}}
                          </div>
                      </div>
                    <figure class="eating_out_image" style="margin-top: -10px; margin-bottom: 2px;">

                        <img src="{{image}}" alt="">
                    </figure>
                            
                            <!-- </div> -->
                    
        
                    <div class="calculation_with_range range_result">
                      <div class="calculation_with_range_inp">
                        <!-- <span class="rs_icon icon-Icons_Ruppee"></span> -->
                        <ion-input type="number"  class="overlay_dropdown_rng_val" [(ngModel)]="reduction_in_outing" debounce="1000" (ngModelChange)="reduction_in_outing_function($event)"></ion-input>
                      </div>
                    
                      <ion-item>
                          <ion-range min="{{reduction_in_outing_min}}" max="{{reduction_in_outing_max}}" step="1" [(ngModel)]="reduction_in_outing" pin="true" debounce="1000"  (ngModelChange)="reduction_in_outing_function($event)">
                            </ion-range>
                      </ion-item>
                    </div>
        
                    <p text-center class="heading_reinvest eating_reduction">
                        {{'eatingOutCalculator.reductionsInOutingsPerMonth' | translate}}
                    </p>
        
                    <ion-list class="networth_list">
                      <ion-item>
                        <div class="networth_list_lt" float-left>
                            <ion-icon name="ios-calendar-outline"></ion-icon>
                            {{'eatingOutCalculator.outingsPerMonth' | translate}}
                        </div>
                        <button ion-button icon-right float-right clear text-capitalize (click)="showOverlay('outings_per_month')">
                          {{outings_per_month}} 
                          <ion-icon name="ios-arrow-down-outline"></ion-icon>
                        </button>
                      </ion-item>

                      <ion-item *ngIf="false">
                          <div class="networth_list_lt" float-left>
                            <ion-icon><span class="icon-Icons_Rosk-Appetite icon"></span></ion-icon>
                            {{'eatingOutCalculator.annualSavingGrowthRate' | translate}}
                          </div>
                          <button ion-button icon-right float-right clear text-capitalize (click)="showOverlay('expected_rate_of_return')">
                           {{expected_rate_of_return}} <span class="drp_sub_txt">%</span>
                            <ion-icon name="ios-arrow-down-outline"></ion-icon>
                          </button>
                        </ion-item>
      
                      <ion-item>
                          <div class="networth_list_lt" float-left>
                            <span class="rs_icon icon-Icons_Ruppee icon"></span>
                            {{'eatingOutCalculator.averageCostPerOuting' | translate}}
                          </div>
                          <button ion-button icon-right float-right clear text-capitalize (click)="showOverlay('avg_cost_per_outings')">
                              <span class="rs_icon icon-Icons_Ruppee"></span>{{avg_cost_per_outings}}
                              <ion-icon name="ios-arrow-down-outline"></ion-icon>
                          </button>
                        </ion-item>
        
                      
        
                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
        
             </ion-slides>
          </div>
        
          <p class="desclaimer_txt" text-center>
            <span class="icon-Icons_Info"></span>
            <a (click)="disclaimerInfo()">
                {{'common.disclaimersLink' | translate}}
            </a>
          </p>
        
        
        
        
         
        </ion-content>
        <ion-footer>
        <div class="footer_panel row active">
            <div class="footer_panel_lt col">
              <button ion-button class="back_btn" outline (click)="goBack()">
                {{'common.back' | translate}}
              </button>
            </div>
            <div class="footer_panel_rt col">
              <button ion-button class="login_btn" (click)="goToGoalsListing()">
                {{'buttons.readArticles' | translate}}
              </button>
        
            </div>
          </div>
        <div class="overlay_dropdown" *ngIf="status">
            <div class="overlay_dropdown_content calculation_with_range">
              <eating-out  class="drop_com_comp"  [rangeData]="rangeDataUi"></eating-out>
              <ion-item>
                <button ion-button class="login_btn" (click)="done()">
                  {{'common.done' | translate}}
                </button>
              </ion-item>
            </div>
          </div>
          <div class="overlay_dropdown annuity disclaimer" *ngIf="disclaimer">
            <div class="overlay_dropdown_content">
                <div class="overlay_dropdown_content_inner">
                <ion-icon name="ios-close-circle-outline" (click)="disclaimerClose()"></ion-icon>
                <h3 padding>{{'common.disclaimer' | translate}}</h3>
                <div class="innerCont" [innerHtml]="utilitiesProvider.disclaimerText"></div>
            </div></div>
            </div>
          </ion-footer>
        <div class="common_loader" *ngIf="pageLoader">
          <span><img src="assets/imgs/pageLoader.gif" /> </span>
        </div>
      
  